/*box003*/
.box003{
    background-color: #0F2353;
    height: 330px;
    box-shadow: 5px 15px 20px 0px rgba(15,35,83,0.65);
    text-align: center;
    border: 1px solid transparent;
}
.box003:hover{border:1px solid #4981C8}
#GIS img{
    width: 210px;
    height: 200px;
    /*margin-top: 15px;*/
}
.location{
    margin: 10px;
}
.location b,.location span{
    display: inline-block;
}
.location b{
    width: 50px;
    text-align: right;
}
.location span{
    width: 150px;
    color: #fff;
    text-align: left;
}
.shipWhite{color: #fff !important;}
.information>li b,.information01>li b{
    display:inline-block;
    /*min-width与width重复*/
    /*min-width: 114px;*/
    font-weight: normal;
    text-align: right;
}
.information>li span,.information01>li span{
    display:inline-block;
    width:50%;
    text-align: left;
    font-weight: bold;
    color: #fff;
    margin-left:10px;
    /*overflow: hidden;*/
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.information01>li{padding:3px 2px;color: #5FCBFF;font-size: 14px;}
.information01>li span{
    display:inline-block;
    text-align: left;
    font-weight: bold;
    color: #fff;
}
/*************************时间轴样式*******************************/
div.timeShow{
    height: 185px;
    padding:55px 0 0px 0;
    /*border-top:1px dashed #e0e0e0;*/
    left: 0px;
}
ul.timeNews{
    display: inline-block;
    padding:3px;
    min-height:50px;
    left: 35px;
    background: rgba(30,55,103,0.65);
}
.timeNews li{
    float:left;
    margin-top: 3px;
    cursor: pointer;
}
.timeNews li a{
    display:inline-block;
    width:15px;
    height:45px;
    border:1px solid #1E3767;
    background:#fff;
}
.timeNews li a:hover{
    border-top: 2px solid #e4393c;
}
.timeOrange{background: #FF8A00!important;}
.timeBlue{background: #008BFF!important;}
.timeGreen{background: #28A60B!important;}
.turnLeft,.turnRight{
    display:inline-block;
    width:25px;
    height:25px;
    cursor: pointer;
    z-index: 10;
}
.turnLeft{
    position: absolute;
    top:175px;
    left:0px;
    background: url("../images/turn-blue.png") no-repeat -236px -123px;
}
.turnRight{
    position: absolute;
    top:175px;
    right:0px;
    background: url("../images/turn-blue.png") no-repeat -236px -190px;
}
.timeNews li b{
    position: relative;
    top: 50px;
    left:35px;
    float: left;
    font-size: 16px;
    color: #FEFB00;
}
.turnLeft:hover{background: url("../images/turn-white.png") no-repeat -236px -123px;}
.turnRight:hover{background: url("../images/turn-white.png") no-repeat -236px -190px}
.timeClick{
    display:inline-block!important;
    width:115px;
    height:40px;
    position: relative;
    left: -1px;
    top:-40px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    border:1px solid #1E3767;
    border-bottom: none;
    z-index: 2;
    /*background:#fff;*/
}
.repairBox{
    /*width:565px;*/
    background: #0F2353;
    box-shadow: 5px 15px 20px 0px rgba(15,35,83,0.65);
    margin: 0px -10px 20px 0px;
}
/**/
/*h3{padding: 0px;margin: 0px;}*/
.titleM{
    padding-top: 30px;
    padding-left: 10px;
}
.text-desc{
    /*opacity: 0; padding: 40px 20px 20px 20px;*/
    padding: 20px 20px 20px 20px;
    transform: translateX(-103%);
    -webkit-transform: translateX(-103%);
    -moz-transform: translateX(-103%);
}
.text-desc00{
    padding: 20px 20px 20px 20px;
}
 .text-desc01{
     opacity: 1;
     transform: translateX(0px);
     -webkit-transform: translateX(0px);
     -moz-transform: translateX(0px);
     transition: 0.5s;
     -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
}

/*tab切换样式*/
.nav-tabs>li>a{
    margin-right: 0px;
}
.nav>li>a{
    padding:10px 4px;
    font-size: 15px;
    color: #408CB8;

}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,.nav>li>a:hover{
    color: #fff;
    cursor: pointer;
    background-color: #0D2046!important;
    border: none;
    font-weight:bold;
    border-bottom: 2px solid #408CB8;
    margin-bottom: -2px;
}
.nav-tabs{
    border-bottom: none;
}
.tab-content>.tab-pane{
    padding-top: 3px;
}
.information01>li span.textRed{
    width:132px;
    text-align: center;
}
.textRed{
    color: #e4393c!important;
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;
}
/************模态框样式********************/
.review{
    color: #fff;
}
 /***************************checkbox样式****************************/
.item_icon{
    width: 93px;
    height:30px;
    line-height:13px;
    cursor: pointer;
    font-size: 13px;
    margin-right: 5px;
    display: inline-block;
}
@keyframes hover-color {
    from {
        border-color: #c0c0c0; }
    to {
        border-color: #3e97eb; }
}

.magic-checkbox {
    position: absolute;
    display: none;
}

.magic-checkbox[disabled] { cursor: not-allowed;  }
.magic-checkbox + label {
    position: relative;
    display: block;
    padding-left:15px;
    cursor: pointer;
    vertical-align: middle;
}
.magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color;
}
.magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 13px;
    height: 13px;
    content: '';
    border: 1px solid #c0c0c0;
}
.magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: '';
}
.magic-checkbox[disabled] + label {
    cursor: not-allowed;
    color: #e4e4e4;
}
.magic-checkbox[disabled] + label:hover,
.magic-checkbox[disabled] + label:before,
.magic-checkbox[disabled] + label:after {cursor: not-allowed;  }
.magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none;
}
.magic-checkbox[disabled] + label:before { border-color: #e4e4e4;  }
.magic-checkbox:checked + label:before {animation-name: none; }
.magic-checkbox:checked + label:after {display: block; }
.magic-checkbox + label:before {border-radius: 3px; }
.magic-checkbox + label:after {
    top: -2px;
    left: 4px;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0;
}

.magic-checkbox:checked + label:before {
    border: #3e97eb;
    background: #3e97eb;
}

.magic-checkbox:checked[disabled] + label:before {
    border: #c9e2f9;
    background: #c9e2f9;
}
 /*弃用*/
 /*#arrowDown, #arrowDown01{*/
       /*!*display: block;*!*/
        /*!*font-size: 24px;*!*/
        /*!*color: #fff;*!*/
        /*!*position: relative;*!*/
        /*!*top: 32px;*!*/
        /*!*left: -13px;*!*/
/*}*/
 /*#refreshBtn{*/
     /*display: block;*/
     /*font-size: 24px;*/
     /*color: #fff;*/
     /*position: relative;*/
     /*top: 7px;*/
     /*left: 15px;*/
     /*cursor: pointer;*/
 /*}*/
 #arrowDown01{
     top: -231px;
     left: -235px;
 }
#arrowDown:focus{
    outline: none;
}
#arrowDown01:focus{
    outline: none;
}
/*产品轮播信息*/
/*banner*/
.banner{
    width: 83%;
}
.banList li{
    height: 100%;
    width: 100%;
    margin-left: 0px;
}
.banList li img {
    height: 100%;
    width: 100%;
}
.fomW{
    bottom: -43px;
    left: -1%;
    width:100%;
}
/****************************************************************************/
/*右上小图标*/
.iconShipsum{
    display: inline-block;
    position: relative;
    top:5px;
    left: 145px;
    width: 15px;
    height: 15px;
    z-index:10;
    background:url("../images/icon-blue.png") no-repeat scroll -185px -200px transparent;
}
.iconShipsum:hover{
    background:url("../images/icon-white.png") no-repeat scroll -185px -200px transparent;
    cursor: pointer;
}
/* 信封样式1 */
.m-envelope,.m-envelope2{position:relative;height:405px;overflow:hidden;}
.m-envelope .item,.m-envelope .item2{
    position: absolute;
    left: 348px;
    bottom: 0;
    width: 140px;
    height: 390px;
    border-right: 100px solid #0F2369;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid transparent;
}
.m-envelope .item2{top:0;z-index:2;}
/* 信封封面动画样式1 */
.m-envelope .item2-cover{
    -webkit-transform-style:preserve-3d;
    -webkit-perspective:1500;
    -webkit-transform-origin:100% 100%;
    -webkit-animation:breath 1.8s ease 1 reverse;
}

@-webkit-keyframes breath{
    0%{-webkit-transform:rotateY(180deg);}
    50%{-webkit-transform:rotateY(270deg);}
    100%{-webkit-transform:rotateY(360deg);}
    50%{-webkit-transform:rotateY(270deg);}
    0%{-webkit-transform:rotateY(0deg);}
}
.m-envelope-img{
    position: relative;
    top: 80px;
    left: -12px;
}
/********渔船基本信息样式table*********************/
.shipInf tr td{
    border:1px solid #3e97eb;
    font-size: 14px;
    padding: 0px!important;
    text-align: center;
}
/************************************************************************8*8*/
/*产品筛选条件样式  by  duanyunhong*/
.productChoose{
    position: relative;
    top: -194px;
    left: 40px;
    z-index: 100;
    -webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    
}

.productChoose ul {
    margin: 0;
    padding: 0;
    -webkit-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.productChoose ul li {
    list-style: none;
    position: absolute;
    width:45px;
    height:45px;
    left: 50%;
    top: 50%;
    margin-left: -245px;
    margin-top: -10px;
}

.productChoose li img {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.productChoose ul li:nth-of-type(1) {
    -webkit-transition: All 1.2s 0s;
    -moz-transition: All 1.2s 0s;
    -ms-transition: All 1.2s 0s;
    transition: All 1.2s 0s;
    -webkit-transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.productChoose ul li:nth-of-type(1) img {
    -webkit-animation: z 5s linear 0s infinite;
    -moz-animation: z 5s linear 0s infinite;
    -ms-animation: z 5s linear 0s infinite;
    animation: z 5s linear 0s infinite;
}

.productChoose ul li:nth-of-type(2) {
    -webkit-animation: y 20s linear 0s infinite;
    -moz-animation: y 20s linear 0s infinite;
    -ms-animation: y 20s linear 0s infinite;
    animation: y 20s linear 0s infinite;
}

.productChoose ul li:nth-of-type(3) {
    -webkit-animation: z 10s linear 0s infinite;
    -moz-animation: z 10s linear 0s infinite;
    -ms-animation: z 10s linear 0s infinite;
    animation: z 10s linear 0s infinite;
}

@-webkit-keyframes z {
    from {
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    }
    to {
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
    }
}

@-webkit-keyframes y {
    from {
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    }
    to {
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);
    }
}
