@charset "GBK";
/* CSS Document */

body{ background:url(../images/login_bg.gif) repeat-x left  center;margin:0; padding:0;font:normal normal 12px/20px "宋体";color:#333;}
div,p,span,h1,h2,h3,h4,h5,h6,dl,dt,dd,input,select,textarea{ margin:0; padding:0; }
a{ color:#39C;text-decoration:underline;}
a:hover{ color:#39C; text-decoration: none;}
.warrper{ width:1000px; position:relative; margin:0 auto; height:680px;}
.logo{ position:absolute;top:40px; left:0; width:100px; height:70px;}
.warrper h1{ position:absolute;top:55px; left:130px; width:800px; height:60px;font:bold 36px/60px "微软雅黑"; color:#003377; float:left; }
.pic{ position:absolute;top:121px; left:0; width:602px; height:450px; background:url(../images/logo.png);_background:none;_filter: progid:dximagetransform.microsoft.alphaimageloader(src='images/logo.png', sizingmethod='crop');}
.login_box{ position:absolute;top:121px; left:602px; width:328px; height:450px;background:url(../images/login_box.gif) no-repeat left top;}
.login{ width:260px; height:300px; margin:160px 0 0 25px;}
.copyright{ position:absolute;top:600px; left:0; width:1000px; height:30px; text-align: center; color:#003377}
/* 输入框样式 */
.inputbox { border:1px solid #a7a7a7;background:url(../images/input_bg.gif) repeat-x left top;border-radius:3px 3px;height:24px; line-height:24px; padding-left:5px;}
.inputbox_on{ border:1px solid #F60;background:url(../images/input_bg.gif) repeat-x left top;border-radius:3px 3px;height:24px; line-height:24px; padding-left:5px;}

/* 按钮样式 */
.btn_submit, .btn_submit_on{ background:url(../images/btn_submit_login.gif) no-repeat left top; text-align:center; width:90px; height:33px; border:0; color:#FFF; font-weight:bold; margin-right:5px; cursor:pointer}
.btn_submit_on{ background-position:bottom; cursor:pointer}
.btn_submit_cz, .btn_submit_cz_on{ background:url(../images/btn_submit_cz.gif) no-repeat left top; text-align:center; width:90px; height:33px; border:0; color:#666; font-weight:bold; margin-right:5px; cursor:pointer}
.btn_submit_cz_on{ background-position:bottom; color:#FFF ;cursor:pointer}
.tip_error{ background:#facac0 url(../images/tip_error1.gif) no-repeat 10px  center;  font-size:12px; border:1px  solid  #f79686; text-align:left;  text-indent:30px; }

