@charset "utf-8";
/*定义公用使用样式*/

/*超过区域省略号代替*/
.sys_word_dot{
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
}
/************************layer样式设置弹框部分BEGIN******************************/
.lp-opacity{
    opacity: 0.96;
}
body .lp-skin-fir .layui-layer-title{background:#64A8F5; color:#fff; border: none;}
body .lp-skin-fir .layui-layer-title .modal-title-logo{    font-size: 17px; margin-left: -10px; font-weight: bold;}
body .lp-skin-fir .layui-layer-btn{border-top:1px solid #E9E7E7}
body .lp-skin-fir .layui-layer-btn a{background:#333;}
body .lp-skin-fir .layui-layer-btn .layui-layer-btn1{background:#999;}
/************************layer样式设置部分END******************************/


/*样式注意区分不同的魔板_请加魔板编码*/


