<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.limp.framework.boss.mapper.oracle.ConfigMapper" >
  <resultMap id="BaseResultMap" type="com.limp.framework.boss.domain.Config" >
    <result column="CC_ID" property="id" jdbcType="VARCHAR" />
    <result column="CC_TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CC_KEY" property="key" jdbcType="VARCHAR" />
    <result column="CC_VALUE" property="value" jdbcType="VARCHAR" />
    <result column="CC_SORT" property="sort" jdbcType="DECIMAL" />
    <result column="CC_STATE" property="state" jdbcType="DECIMAL" />
    <result column="CC_UDT" property="udt" jdbcType="TIMESTAMP" />
    <result column="CC_UPUSER" property="upuser" jdbcType="VARCHAR" />
    <result column="CC_RC1" property="rc1" jdbcType="VARCHAR" />
    <result column="CC_RC2" property="rc2" jdbcType="VARCHAR" />
    <result column="CC_RC3" property="rc3" jdbcType="VARCHAR" />
    <result column="CC_RC4" property="rc4" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CC_ID, CC_TITLE, CC_KEY, CC_VALUE, CC_SORT, CC_STATE, CC_UDT, CC_UPUSER, CC_RC1, 
    CC_RC2, CC_RC3, CC_RC4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.limp.framework.boss.domain.ConfigExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.limp.framework.boss.domain.ConfigExample" >
    delete from SYS_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.limp.framework.boss.domain.Config" >
    insert into SYS_CONFIG (CC_ID, CC_TITLE, CC_KEY,
      CC_VALUE, CC_SORT, CC_STATE, 
      CC_UDT, CC_UPUSER, CC_RC1, 
      CC_RC2, CC_RC3, CC_RC4)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{sort,jdbcType=DECIMAL}, #{state,jdbcType=DECIMAL}, 
      #{udt,jdbcType=TIMESTAMP}, #{upuser,jdbcType=VARCHAR}, #{rc1,jdbcType=VARCHAR}, 
      #{rc2,jdbcType=VARCHAR}, #{rc3,jdbcType=VARCHAR}, #{rc4,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.limp.framework.boss.domain.Config" >
    insert into SYS_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        CC_ID,
      </if>
      <if test="title != null" >
        CC_TITLE,
      </if>
      <if test="key != null" >
        CC_KEY,
      </if>
      <if test="value != null" >
        CC_VALUE,
      </if>
      <if test="sort != null" >
        CC_SORT,
      </if>
      <if test="state != null" >
        CC_STATE,
      </if>
      <if test="udt != null" >
        CC_UDT,
      </if>
      <if test="upuser != null" >
        CC_UPUSER,
      </if>
      <if test="rc1 != null" >
        CC_RC1,
      </if>
      <if test="rc2 != null" >
        CC_RC2,
      </if>
      <if test="rc3 != null" >
        CC_RC3,
      </if>
      <if test="rc4 != null" >
        CC_RC4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="udt != null" >
        #{udt,jdbcType=TIMESTAMP},
      </if>
      <if test="upuser != null" >
        #{upuser,jdbcType=VARCHAR},
      </if>
      <if test="rc1 != null" >
        #{rc1,jdbcType=VARCHAR},
      </if>
      <if test="rc2 != null" >
        #{rc2,jdbcType=VARCHAR},
      </if>
      <if test="rc3 != null" >
        #{rc3,jdbcType=VARCHAR},
      </if>
      <if test="rc4 != null" >
        #{rc4,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.limp.framework.boss.domain.ConfigExample" resultType="java.lang.Integer" >
    select count(*) from SYS_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_CONFIG
    <set >
      <if test="record.id != null" >
        CC_ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        CC_TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.key != null" >
        CC_KEY = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null" >
        CC_VALUE = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        CC_SORT = #{record.sort,jdbcType=DECIMAL},
      </if>
      <if test="record.state != null" >
        CC_STATE = #{record.state,jdbcType=DECIMAL},
      </if>
      <if test="record.udt != null" >
        CC_UDT = #{record.udt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.upuser != null" >
        CC_UPUSER = #{record.upuser,jdbcType=VARCHAR},
      </if>
      <if test="record.rc1 != null" >
        CC_RC1 = #{record.rc1,jdbcType=VARCHAR},
      </if>
      <if test="record.rc2 != null" >
        CC_RC2 = #{record.rc2,jdbcType=VARCHAR},
      </if>
      <if test="record.rc3 != null" >
        CC_RC3 = #{record.rc3,jdbcType=VARCHAR},
      </if>
      <if test="record.rc4 != null" >
        CC_RC4 = #{record.rc4,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_CONFIG
    set CC_ID = #{record.id,jdbcType=VARCHAR},
      CC_TITLE = #{record.title,jdbcType=VARCHAR},
      CC_KEY = #{record.key,jdbcType=VARCHAR},
      CC_VALUE = #{record.value,jdbcType=VARCHAR},
      CC_SORT = #{record.sort,jdbcType=DECIMAL},
      CC_STATE = #{record.state,jdbcType=DECIMAL},
      CC_UDT = #{record.udt,jdbcType=TIMESTAMP},
      CC_UPUSER = #{record.upuser,jdbcType=VARCHAR},
      CC_RC1 = #{record.rc1,jdbcType=VARCHAR},
      CC_RC2 = #{record.rc2,jdbcType=VARCHAR},
      CC_RC3 = #{record.rc3,jdbcType=VARCHAR},
      CC_RC4 = #{record.rc4,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.start} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>