<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.limp.framework.boss.mapper.oracle.UserExtMapper" >
  <resultMap id="BaseResultMap" type="com.limp.framework.boss.domain.UserExt" >
    <id column="USR_GUID" property="id" jdbcType="VARCHAR" />
    <result column="USR_FACE" property="usrFace" jdbcType="VARCHAR" />
    <result column="USR_COMP" property="usrComp" jdbcType="VARCHAR" />
    <result column="USR_RC6" property="usrRc6" jdbcType="VARCHAR" />
    <result column="USR_RC7" property="usrRc7" jdbcType="VARCHAR" />
    <result column="USR_RC8" property="usrRc8" jdbcType="VARCHAR" />
    <result column="USR_RC9" property="usrRc9" jdbcType="VARCHAR" />
    <result column="USR_RC10" property="usrRc10" jdbcType="VARCHAR" />
    <result column="USR_RC11" property="usrRc11" jdbcType="VARCHAR" />
    <result column="USR_RC12" property="usrRc12" jdbcType="VARCHAR" />
    <result column="USR_RC13" property="usrRc13" jdbcType="VARCHAR" />
    <result column="USR_RC14" property="usrRc14" jdbcType="VARCHAR" />
    <result column="USR_RC15" property="usrRc15" jdbcType="VARCHAR" />
    <result column="USR_RC16" property="usrRc16" jdbcType="VARCHAR" />
    <result column="USR_RC17" property="usrRc17" jdbcType="VARCHAR" />
    <result column="USR_RC18" property="usrRc18" jdbcType="INTEGER" />
    <result column="USR_RC19" property="usrRc19" jdbcType="INTEGER" />
    <result column="USR_RC20" property="usrRc20" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USR_GUID, USR_FACE, USR_COMP, USR_RC6, USR_RC7, USR_RC8, USR_RC9, USR_RC10, USR_RC11, 
    USR_RC12, USR_RC13, USR_RC14, USR_RC15, USR_RC16, USR_RC17, USR_RC18, USR_RC19, USR_RC20
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.limp.framework.boss.domain.UserExtExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_USER_EXT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_USER_EXT
    where USR_GUID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_USER_EXT
    where USR_GUID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.limp.framework.boss.domain.UserExtExample" >
    delete from SYS_USER_EXT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.limp.framework.boss.domain.UserExt" >
    insert into SYS_USER_EXT (USR_GUID, USR_FACE, USR_COMP, 
      USR_RC6, USR_RC7, USR_RC8, 
      USR_RC9, USR_RC10, USR_RC11, 
      USR_RC12, USR_RC13, USR_RC14, 
      USR_RC15, USR_RC16, USR_RC17, 
      USR_RC18, USR_RC19, USR_RC20
      )
    values (#{id,jdbcType=VARCHAR}, #{usrFace,jdbcType=VARCHAR}, #{usrComp,jdbcType=VARCHAR}, 
      #{usrRc6,jdbcType=VARCHAR}, #{usrRc7,jdbcType=VARCHAR}, #{usrRc8,jdbcType=VARCHAR}, 
      #{usrRc9,jdbcType=VARCHAR}, #{usrRc10,jdbcType=VARCHAR}, #{usrRc11,jdbcType=VARCHAR}, 
      #{usrRc12,jdbcType=VARCHAR}, #{usrRc13,jdbcType=VARCHAR}, #{usrRc14,jdbcType=VARCHAR}, 
      #{usrRc15,jdbcType=VARCHAR}, #{usrRc16,jdbcType=VARCHAR}, #{usrRc17,jdbcType=VARCHAR}, 
      #{usrRc18,jdbcType=INTEGER}, #{usrRc19,jdbcType=INTEGER}, #{usrRc20,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.limp.framework.boss.domain.UserExt" >
    insert into SYS_USER_EXT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        USR_GUID,
      </if>
      <if test="usrFace != null" >
        USR_FACE,
      </if>
      <if test="usrComp != null" >
        USR_COMP,
      </if>
      <if test="usrRc6 != null" >
        USR_RC6,
      </if>
      <if test="usrRc7 != null" >
        USR_RC7,
      </if>
      <if test="usrRc8 != null" >
        USR_RC8,
      </if>
      <if test="usrRc9 != null" >
        USR_RC9,
      </if>
      <if test="usrRc10 != null" >
        USR_RC10,
      </if>
      <if test="usrRc11 != null" >
        USR_RC11,
      </if>
      <if test="usrRc12 != null" >
        USR_RC12,
      </if>
      <if test="usrRc13 != null" >
        USR_RC13,
      </if>
      <if test="usrRc14 != null" >
        USR_RC14,
      </if>
      <if test="usrRc15 != null" >
        USR_RC15,
      </if>
      <if test="usrRc16 != null" >
        USR_RC16,
      </if>
      <if test="usrRc17 != null" >
        USR_RC17,
      </if>
      <if test="usrRc18 != null" >
        USR_RC18,
      </if>
      <if test="usrRc19 != null" >
        USR_RC19,
      </if>
      <if test="usrRc20 != null" >
        USR_RC20,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="usrFace != null" >
        #{usrFace,jdbcType=VARCHAR},
      </if>
      <if test="usrComp != null" >
        #{usrComp,jdbcType=VARCHAR},
      </if>
      <if test="usrRc6 != null" >
        #{usrRc6,jdbcType=VARCHAR},
      </if>
      <if test="usrRc7 != null" >
        #{usrRc7,jdbcType=VARCHAR},
      </if>
      <if test="usrRc8 != null" >
        #{usrRc8,jdbcType=VARCHAR},
      </if>
      <if test="usrRc9 != null" >
        #{usrRc9,jdbcType=VARCHAR},
      </if>
      <if test="usrRc10 != null" >
        #{usrRc10,jdbcType=VARCHAR},
      </if>
      <if test="usrRc11 != null" >
        #{usrRc11,jdbcType=VARCHAR},
      </if>
      <if test="usrRc12 != null" >
        #{usrRc12,jdbcType=VARCHAR},
      </if>
      <if test="usrRc13 != null" >
        #{usrRc13,jdbcType=VARCHAR},
      </if>
      <if test="usrRc14 != null" >
        #{usrRc14,jdbcType=VARCHAR},
      </if>
      <if test="usrRc15 != null" >
        #{usrRc15,jdbcType=VARCHAR},
      </if>
      <if test="usrRc16 != null" >
        #{usrRc16,jdbcType=VARCHAR},
      </if>
      <if test="usrRc17 != null" >
        #{usrRc17,jdbcType=VARCHAR},
      </if>
      <if test="usrRc18 != null" >
        #{usrRc18,jdbcType=INTEGER},
      </if>
      <if test="usrRc19 != null" >
        #{usrRc19,jdbcType=INTEGER},
      </if>
      <if test="usrRc20 != null" >
        #{usrRc20,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.limp.framework.boss.domain.UserExtExample" resultType="java.lang.Integer" >
    select count(*) from SYS_USER_EXT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_USER_EXT
    <set >
      <if test="record.id != null" >
        USR_GUID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.usrFace != null" >
        USR_FACE = #{record.usrFace,jdbcType=VARCHAR},
      </if>
      <if test="record.usrComp != null" >
        USR_COMP = #{record.usrComp,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc6 != null" >
        USR_RC6 = #{record.usrRc6,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc7 != null" >
        USR_RC7 = #{record.usrRc7,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc8 != null" >
        USR_RC8 = #{record.usrRc8,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc9 != null" >
        USR_RC9 = #{record.usrRc9,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc10 != null" >
        USR_RC10 = #{record.usrRc10,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc11 != null" >
        USR_RC11 = #{record.usrRc11,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc12 != null" >
        USR_RC12 = #{record.usrRc12,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc13 != null" >
        USR_RC13 = #{record.usrRc13,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc14 != null" >
        USR_RC14 = #{record.usrRc14,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc15 != null" >
        USR_RC15 = #{record.usrRc15,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc16 != null" >
        USR_RC16 = #{record.usrRc16,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc17 != null" >
        USR_RC17 = #{record.usrRc17,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRc18 != null" >
        USR_RC18 = #{record.usrRc18,jdbcType=INTEGER},
      </if>
      <if test="record.usrRc19 != null" >
        USR_RC19 = #{record.usrRc19,jdbcType=INTEGER},
      </if>
      <if test="record.usrRc20 != null" >
        USR_RC20 = #{record.usrRc20,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_USER_EXT
    set USR_GUID = #{record.id,jdbcType=VARCHAR},
      USR_FACE = #{record.usrFace,jdbcType=VARCHAR},
      USR_COMP = #{record.usrComp,jdbcType=VARCHAR},
      USR_RC6 = #{record.usrRc6,jdbcType=VARCHAR},
      USR_RC7 = #{record.usrRc7,jdbcType=VARCHAR},
      USR_RC8 = #{record.usrRc8,jdbcType=VARCHAR},
      USR_RC9 = #{record.usrRc9,jdbcType=VARCHAR},
      USR_RC10 = #{record.usrRc10,jdbcType=VARCHAR},
      USR_RC11 = #{record.usrRc11,jdbcType=VARCHAR},
      USR_RC12 = #{record.usrRc12,jdbcType=VARCHAR},
      USR_RC13 = #{record.usrRc13,jdbcType=VARCHAR},
      USR_RC14 = #{record.usrRc14,jdbcType=VARCHAR},
      USR_RC15 = #{record.usrRc15,jdbcType=VARCHAR},
      USR_RC16 = #{record.usrRc16,jdbcType=VARCHAR},
      USR_RC17 = #{record.usrRc17,jdbcType=VARCHAR},
      USR_RC18 = #{record.usrRc18,jdbcType=INTEGER},
      USR_RC19 = #{record.usrRc19,jdbcType=INTEGER},
      USR_RC20 = #{record.usrRc20,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.limp.framework.boss.domain.UserExt" >
    update SYS_USER_EXT
    <set >
      <if test="usrFace != null" >
        USR_FACE = #{usrFace,jdbcType=VARCHAR},
      </if>
      <if test="usrComp != null" >
        USR_COMP = #{usrComp,jdbcType=VARCHAR},
      </if>
      <if test="usrRc6 != null" >
        USR_RC6 = #{usrRc6,jdbcType=VARCHAR},
      </if>
      <if test="usrRc7 != null" >
        USR_RC7 = #{usrRc7,jdbcType=VARCHAR},
      </if>
      <if test="usrRc8 != null" >
        USR_RC8 = #{usrRc8,jdbcType=VARCHAR},
      </if>
      <if test="usrRc9 != null" >
        USR_RC9 = #{usrRc9,jdbcType=VARCHAR},
      </if>
      <if test="usrRc10 != null" >
        USR_RC10 = #{usrRc10,jdbcType=VARCHAR},
      </if>
      <if test="usrRc11 != null" >
        USR_RC11 = #{usrRc11,jdbcType=VARCHAR},
      </if>
      <if test="usrRc12 != null" >
        USR_RC12 = #{usrRc12,jdbcType=VARCHAR},
      </if>
      <if test="usrRc13 != null" >
        USR_RC13 = #{usrRc13,jdbcType=VARCHAR},
      </if>
      <if test="usrRc14 != null" >
        USR_RC14 = #{usrRc14,jdbcType=VARCHAR},
      </if>
      <if test="usrRc15 != null" >
        USR_RC15 = #{usrRc15,jdbcType=VARCHAR},
      </if>
      <if test="usrRc16 != null" >
        USR_RC16 = #{usrRc16,jdbcType=VARCHAR},
      </if>
      <if test="usrRc17 != null" >
        USR_RC17 = #{usrRc17,jdbcType=VARCHAR},
      </if>
      <if test="usrRc18 != null" >
        USR_RC18 = #{usrRc18,jdbcType=INTEGER},
      </if>
      <if test="usrRc19 != null" >
        USR_RC19 = #{usrRc19,jdbcType=INTEGER},
      </if>
      <if test="usrRc20 != null" >
        USR_RC20 = #{usrRc20,jdbcType=INTEGER},
      </if>
    </set>
    where USR_GUID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.limp.framework.boss.domain.UserExt" >
    update SYS_USER_EXT
    set USR_FACE = #{usrFace,jdbcType=VARCHAR},
      USR_COMP = #{usrComp,jdbcType=VARCHAR},
      USR_RC6 = #{usrRc6,jdbcType=VARCHAR},
      USR_RC7 = #{usrRc7,jdbcType=VARCHAR},
      USR_RC8 = #{usrRc8,jdbcType=VARCHAR},
      USR_RC9 = #{usrRc9,jdbcType=VARCHAR},
      USR_RC10 = #{usrRc10,jdbcType=VARCHAR},
      USR_RC11 = #{usrRc11,jdbcType=VARCHAR},
      USR_RC12 = #{usrRc12,jdbcType=VARCHAR},
      USR_RC13 = #{usrRc13,jdbcType=VARCHAR},
      USR_RC14 = #{usrRc14,jdbcType=VARCHAR},
      USR_RC15 = #{usrRc15,jdbcType=VARCHAR},
      USR_RC16 = #{usrRc16,jdbcType=VARCHAR},
      USR_RC17 = #{usrRc17,jdbcType=VARCHAR},
      USR_RC18 = #{usrRc18,jdbcType=INTEGER},
      USR_RC19 = #{usrRc19,jdbcType=INTEGER},
      USR_RC20 = #{usrRc20,jdbcType=INTEGER}
    where USR_GUID = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.start} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>