<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.limp.framework.boss.mapper.oracle.VdoMapMapper" >
  <resultMap id="BaseResultMap" type="com.limp.framework.boss.domain.VdoMap" >
    <result column="UDM_UREGUID" property="udmUreguid" jdbcType="VARCHAR" />
    <result column="UDM_SSMGUID" property="udmSsmguid" jdbcType="VARCHAR" />
    <result column="UDM_SSMDTGUID" property="udmSsmdtguid" jdbcType="VARCHAR" />
    <result column="UDM_VALUE" property="udmValue" jdbcType="VARCHAR" />
    <result column="UDM_INCLUDE" property="udmInclude" jdbcType="DECIMAL" />
    <result column="UDM_ISREMOVE" property="udmIsremove" jdbcType="DECIMAL" />
    <result column="UDM_STATE" property="udmState" jdbcType="DECIMAL" />
    <result column="UDM_RC0" property="udmRc0" jdbcType="VARCHAR" />
    <result column="UDM_RC1" property="udmRc1" jdbcType="VARCHAR" />
    <result column="UDM_RC2" property="udmRc2" jdbcType="VARCHAR" />
    <result column="UDM_RC3" property="udmRc3" jdbcType="VARCHAR" />
    <result column="UDM_RC4" property="udmRc4" jdbcType="VARCHAR" />
    <result column="UDM_RC5" property="udmRc5" jdbcType="VARCHAR" />
    <result column="UDM_RC6" property="udmRc6" jdbcType="DECIMAL" />
    <result column="UDM_RC7" property="udmRc7" jdbcType="DECIMAL" />
    <result column="UDM_RC8" property="udmRc8" jdbcType="DATE" />
    <result column="UDM_RC9" property="udmRc9" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UDM_UREGUID, UDM_SSMGUID, UDM_SSMDTGUID, UDM_VALUE, UDM_INCLUDE, UDM_ISREMOVE, UDM_STATE, 
    UDM_RC0, UDM_RC1, UDM_RC2, UDM_RC3, UDM_RC4, UDM_RC5, UDM_RC6, UDM_RC7, UDM_RC8, 
    UDM_RC9
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.limp.framework.boss.domain.VdoMapExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_USRROLE_DADN_MAP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.limp.framework.boss.domain.VdoMapExample" flushCache="true" >
    delete from SYS_USRROLE_DADN_MAP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.limp.framework.boss.domain.VdoMap" flushCache="true" >
    insert into SYS_USRROLE_DADN_MAP (UDM_UREGUID, UDM_SSMGUID, UDM_SSMDTGUID, 
      UDM_VALUE, UDM_INCLUDE, UDM_ISREMOVE, 
      UDM_STATE, UDM_RC0, UDM_RC1, 
      UDM_RC2, UDM_RC3, UDM_RC4, 
      UDM_RC5, UDM_RC6, UDM_RC7, 
      UDM_RC8, UDM_RC9)
    values (#{udmUreguid,jdbcType=VARCHAR}, #{udmSsmguid,jdbcType=VARCHAR}, #{udmSsmdtguid,jdbcType=VARCHAR}, 
      #{udmValue,jdbcType=VARCHAR}, #{udmInclude,jdbcType=DECIMAL}, #{udmIsremove,jdbcType=DECIMAL}, 
      #{udmState,jdbcType=DECIMAL}, #{udmRc0,jdbcType=VARCHAR}, #{udmRc1,jdbcType=VARCHAR}, 
      #{udmRc2,jdbcType=VARCHAR}, #{udmRc3,jdbcType=VARCHAR}, #{udmRc4,jdbcType=VARCHAR}, 
      #{udmRc5,jdbcType=VARCHAR}, #{udmRc6,jdbcType=DECIMAL}, #{udmRc7,jdbcType=DECIMAL}, 
      #{udmRc8,jdbcType=DATE}, #{udmRc9,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.limp.framework.boss.domain.VdoMap" flushCache="true" >
    insert into SYS_USRROLE_DADN_MAP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="udmUreguid != null" >
        UDM_UREGUID,
      </if>
      <if test="udmSsmguid != null" >
        UDM_SSMGUID,
      </if>
      <if test="udmSsmdtguid != null" >
        UDM_SSMDTGUID,
      </if>
      <if test="udmValue != null" >
        UDM_VALUE,
      </if>
      <if test="udmInclude != null" >
        UDM_INCLUDE,
      </if>
      <if test="udmIsremove != null" >
        UDM_ISREMOVE,
      </if>
      <if test="udmState != null" >
        UDM_STATE,
      </if>
      <if test="udmRc0 != null" >
        UDM_RC0,
      </if>
      <if test="udmRc1 != null" >
        UDM_RC1,
      </if>
      <if test="udmRc2 != null" >
        UDM_RC2,
      </if>
      <if test="udmRc3 != null" >
        UDM_RC3,
      </if>
      <if test="udmRc4 != null" >
        UDM_RC4,
      </if>
      <if test="udmRc5 != null" >
        UDM_RC5,
      </if>
      <if test="udmRc6 != null" >
        UDM_RC6,
      </if>
      <if test="udmRc7 != null" >
        UDM_RC7,
      </if>
      <if test="udmRc8 != null" >
        UDM_RC8,
      </if>
      <if test="udmRc9 != null" >
        UDM_RC9,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="udmUreguid != null" >
        #{udmUreguid,jdbcType=VARCHAR},
      </if>
      <if test="udmSsmguid != null" >
        #{udmSsmguid,jdbcType=VARCHAR},
      </if>
      <if test="udmSsmdtguid != null" >
        #{udmSsmdtguid,jdbcType=VARCHAR},
      </if>
      <if test="udmValue != null" >
        #{udmValue,jdbcType=VARCHAR},
      </if>
      <if test="udmInclude != null" >
        #{udmInclude,jdbcType=DECIMAL},
      </if>
      <if test="udmIsremove != null" >
        #{udmIsremove,jdbcType=DECIMAL},
      </if>
      <if test="udmState != null" >
        #{udmState,jdbcType=DECIMAL},
      </if>
      <if test="udmRc0 != null" >
        #{udmRc0,jdbcType=VARCHAR},
      </if>
      <if test="udmRc1 != null" >
        #{udmRc1,jdbcType=VARCHAR},
      </if>
      <if test="udmRc2 != null" >
        #{udmRc2,jdbcType=VARCHAR},
      </if>
      <if test="udmRc3 != null" >
        #{udmRc3,jdbcType=VARCHAR},
      </if>
      <if test="udmRc4 != null" >
        #{udmRc4,jdbcType=VARCHAR},
      </if>
      <if test="udmRc5 != null" >
        #{udmRc5,jdbcType=VARCHAR},
      </if>
      <if test="udmRc6 != null" >
        #{udmRc6,jdbcType=DECIMAL},
      </if>
      <if test="udmRc7 != null" >
        #{udmRc7,jdbcType=DECIMAL},
      </if>
      <if test="udmRc8 != null" >
        #{udmRc8,jdbcType=DATE},
      </if>
      <if test="udmRc9 != null" >
        #{udmRc9,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.limp.framework.boss.domain.VdoMapExample" resultType="java.lang.Integer" >
    select count(*) from SYS_USRROLE_DADN_MAP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" flushCache="true" >
    update SYS_USRROLE_DADN_MAP
    <set >
      <if test="record.udmUreguid != null" >
        UDM_UREGUID = #{record.udmUreguid,jdbcType=VARCHAR},
      </if>
      <if test="record.udmSsmguid != null" >
        UDM_SSMGUID = #{record.udmSsmguid,jdbcType=VARCHAR},
      </if>
      <if test="record.udmSsmdtguid != null" >
        UDM_SSMDTGUID = #{record.udmSsmdtguid,jdbcType=VARCHAR},
      </if>
      <if test="record.udmValue != null" >
        UDM_VALUE = #{record.udmValue,jdbcType=VARCHAR},
      </if>
      <if test="record.udmInclude != null" >
        UDM_INCLUDE = #{record.udmInclude,jdbcType=DECIMAL},
      </if>
      <if test="record.udmIsremove != null" >
        UDM_ISREMOVE = #{record.udmIsremove,jdbcType=DECIMAL},
      </if>
      <if test="record.udmState != null" >
        UDM_STATE = #{record.udmState,jdbcType=DECIMAL},
      </if>
      <if test="record.udmRc0 != null" >
        UDM_RC0 = #{record.udmRc0,jdbcType=VARCHAR},
      </if>
      <if test="record.udmRc1 != null" >
        UDM_RC1 = #{record.udmRc1,jdbcType=VARCHAR},
      </if>
      <if test="record.udmRc2 != null" >
        UDM_RC2 = #{record.udmRc2,jdbcType=VARCHAR},
      </if>
      <if test="record.udmRc3 != null" >
        UDM_RC3 = #{record.udmRc3,jdbcType=VARCHAR},
      </if>
      <if test="record.udmRc4 != null" >
        UDM_RC4 = #{record.udmRc4,jdbcType=VARCHAR},
      </if>
      <if test="record.udmRc5 != null" >
        UDM_RC5 = #{record.udmRc5,jdbcType=VARCHAR},
      </if>
      <if test="record.udmRc6 != null" >
        UDM_RC6 = #{record.udmRc6,jdbcType=DECIMAL},
      </if>
      <if test="record.udmRc7 != null" >
        UDM_RC7 = #{record.udmRc7,jdbcType=DECIMAL},
      </if>
      <if test="record.udmRc8 != null" >
        UDM_RC8 = #{record.udmRc8,jdbcType=DATE},
      </if>
      <if test="record.udmRc9 != null" >
        UDM_RC9 = #{record.udmRc9,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" flushCache="true" >
    update SYS_USRROLE_DADN_MAP
    set UDM_UREGUID = #{record.udmUreguid,jdbcType=VARCHAR},
      UDM_SSMGUID = #{record.udmSsmguid,jdbcType=VARCHAR},
      UDM_SSMDTGUID = #{record.udmSsmdtguid,jdbcType=VARCHAR},
      UDM_VALUE = #{record.udmValue,jdbcType=VARCHAR},
      UDM_INCLUDE = #{record.udmInclude,jdbcType=DECIMAL},
      UDM_ISREMOVE = #{record.udmIsremove,jdbcType=DECIMAL},
      UDM_STATE = #{record.udmState,jdbcType=DECIMAL},
      UDM_RC0 = #{record.udmRc0,jdbcType=VARCHAR},
      UDM_RC1 = #{record.udmRc1,jdbcType=VARCHAR},
      UDM_RC2 = #{record.udmRc2,jdbcType=VARCHAR},
      UDM_RC3 = #{record.udmRc3,jdbcType=VARCHAR},
      UDM_RC4 = #{record.udmRc4,jdbcType=VARCHAR},
      UDM_RC5 = #{record.udmRc5,jdbcType=VARCHAR},
      UDM_RC6 = #{record.udmRc6,jdbcType=DECIMAL},
      UDM_RC7 = #{record.udmRc7,jdbcType=DECIMAL},
      UDM_RC8 = #{record.udmRc8,jdbcType=DATE},
      UDM_RC9 = #{record.udmRc9,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.start} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>