/**分页li样式**/


ul .active {
    background: #264F6B;
}
ul .active p {
    color: #fff;
}
ul .prev_p {
    width: 7px;
    height: 8px;
    background-position: -14px -62px;
    margin: 10px 0 0 2px;
}
ul .prev {
    width: 11px;
    height: 8px;
    background-position: 0 -47px;
    margin: 10px 0 0 2px;
}
ul .next {
    width: 11px;
    height: 8px;
    background-position: 0 -36px;
    margin: 10px 0 0 2px;
}
ul .next_n {
    width: 6px;
    height: 8px;
    background-position: -26px -62px;
    margin: 10px 0 0 2px;
}
.prev_p, .next_n,.next,.prev {
    background: url('../style/images/personal-ui.png') no-repeat top left;
    float: left;
}