@charset "utf-8";
/*定义公用使用样式*/

/*超过区域省略号代替*/
.sys_word_dot{
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
}


/*--------------------zhangjin----------*/
/*tab切换样式*/
.nav-tabs > li > a {
    margin-right: 0px;
}

.nav > li > a {
    padding: 10px 4px;
    font-size: 15px;
    color: #408CB8;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav > li > a:hover {
    color: #fff;
    cursor: pointer;
    background-color: #0D2046 !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid #408CB8;
}
