<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mapper.oracle.DrawProcMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.domain.DrawProc" >
    <result column="CDP_ID" property="id" jdbcType="VARCHAR" />
    <result column="CDP_UID" property="uid" jdbcType="VARCHAR" />
    <result column="CDP_APPRTIME" property="apprtime" jdbcType="VARCHAR" />
    <result column="CDP_CHECKPERSION" property="checkpersion" jdbcType="VARCHAR" />
    <result column="CDP_CHECKSUGGEST" property="checksuggest" jdbcType="VARCHAR" />
    <result column="CDP_SENDER" property="sender" jdbcType="VARCHAR" />
    <result column="CDP_RECEIVER" property="receiver" jdbcType="VARCHAR" />
    <result column="CDP_CHECKTYPE" property="checktype" jdbcType="VARCHAR" />
    <result column="CDP_LSSUETIME" property="lssuetime" jdbcType="VARCHAR" />
    <result column="CDP_DRAWNO" property="drawno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CDP_ID, CDP_UID, CDP_APPRTIME, CDP_CHECKPERSION, CDP_CHECKSUGGEST, CDP_SENDER, CDP_RECEIVER, 
    CDP_CHECKTYPE, CDP_LSSUETIME, CDP_DRAWNO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chinasofti.domain.DrawProcExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CIS_DRAW_PROC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.chinasofti.domain.DrawProcExample" >
    delete from CIS_DRAW_PROC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinasofti.domain.DrawProc" >
    insert into CIS_DRAW_PROC (CDP_ID, CDP_UID, CDP_APPRTIME, 
      CDP_CHECKPERSION, CDP_CHECKSUGGEST, CDP_SENDER, 
      CDP_RECEIVER, CDP_CHECKTYPE, CDP_LSSUETIME, 
      CDP_DRAWNO)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{apprtime,jdbcType=VARCHAR}, 
      #{checkpersion,jdbcType=VARCHAR}, #{checksuggest,jdbcType=VARCHAR}, #{sender,jdbcType=VARCHAR}, 
      #{receiver,jdbcType=VARCHAR}, #{checktype,jdbcType=VARCHAR}, #{lssuetime,jdbcType=VARCHAR}, 
      #{drawno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.domain.DrawProc" >
    insert into CIS_DRAW_PROC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        CDP_ID,
      </if>
      <if test="uid != null" >
        CDP_UID,
      </if>
      <if test="apprtime != null" >
        CDP_APPRTIME,
      </if>
      <if test="checkpersion != null" >
        CDP_CHECKPERSION,
      </if>
      <if test="checksuggest != null" >
        CDP_CHECKSUGGEST,
      </if>
      <if test="sender != null" >
        CDP_SENDER,
      </if>
      <if test="receiver != null" >
        CDP_RECEIVER,
      </if>
      <if test="checktype != null" >
        CDP_CHECKTYPE,
      </if>
      <if test="lssuetime != null" >
        CDP_LSSUETIME,
      </if>
      <if test="drawno != null" >
        CDP_DRAWNO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="apprtime != null" >
        #{apprtime,jdbcType=VARCHAR},
      </if>
      <if test="checkpersion != null" >
        #{checkpersion,jdbcType=VARCHAR},
      </if>
      <if test="checksuggest != null" >
        #{checksuggest,jdbcType=VARCHAR},
      </if>
      <if test="sender != null" >
        #{sender,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="checktype != null" >
        #{checktype,jdbcType=VARCHAR},
      </if>
      <if test="lssuetime != null" >
        #{lssuetime,jdbcType=VARCHAR},
      </if>
      <if test="drawno != null" >
        #{drawno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinasofti.domain.DrawProcExample" resultType="java.lang.Integer" >
    select count(*) from CIS_DRAW_PROC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CIS_DRAW_PROC
    <set >
      <if test="record.id != null" >
        CDP_ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        CDP_UID = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.apprtime != null" >
        CDP_APPRTIME = #{record.apprtime,jdbcType=VARCHAR},
      </if>
      <if test="record.checkpersion != null" >
        CDP_CHECKPERSION = #{record.checkpersion,jdbcType=VARCHAR},
      </if>
      <if test="record.checksuggest != null" >
        CDP_CHECKSUGGEST = #{record.checksuggest,jdbcType=VARCHAR},
      </if>
      <if test="record.sender != null" >
        CDP_SENDER = #{record.sender,jdbcType=VARCHAR},
      </if>
      <if test="record.receiver != null" >
        CDP_RECEIVER = #{record.receiver,jdbcType=VARCHAR},
      </if>
      <if test="record.checktype != null" >
        CDP_CHECKTYPE = #{record.checktype,jdbcType=VARCHAR},
      </if>
      <if test="record.lssuetime != null" >
        CDP_LSSUETIME = #{record.lssuetime,jdbcType=VARCHAR},
      </if>
      <if test="record.drawno != null" >
        CDP_DRAWNO = #{record.drawno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CIS_DRAW_PROC
    set CDP_ID = #{record.id,jdbcType=VARCHAR},
      CDP_UID = #{record.uid,jdbcType=VARCHAR},
      CDP_APPRTIME = #{record.apprtime,jdbcType=VARCHAR},
      CDP_CHECKPERSION = #{record.checkpersion,jdbcType=VARCHAR},
      CDP_CHECKSUGGEST = #{record.checksuggest,jdbcType=VARCHAR},
      CDP_SENDER = #{record.sender,jdbcType=VARCHAR},
      CDP_RECEIVER = #{record.receiver,jdbcType=VARCHAR},
      CDP_CHECKTYPE = #{record.checktype,jdbcType=VARCHAR},
      CDP_LSSUETIME = #{record.lssuetime,jdbcType=VARCHAR},
      CDP_DRAWNO = #{record.drawno,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_  where rownum<= #{page.end}) where rownum_ > #{page.start} ]]>
    </if>
  </sql>
  <select id="getDrawNumsGroupPrv" resultType="HashMap">
    select * from (
    select <!--substr(co.CO_PROVCODE,1,instr(co.CO_PROVCODE,'0',1,1)-1)-->
    substr(co.CO_PROVCODE,1,6) "${@com.limp.framework.core.constant.Constant@CODE_TRANS_PRE}provname",count(*) "drawNums" from cis_draw_proc cdp inner join cis_organinfo co on cdp.cdp_orgid= co.co_uid
    where substr(cdp.cdp_apprtime,0,4 )= #{year}
    group by substr(co.CO_PROVCODE,1,6)
    order BY COUNT (*) DESC
    )
    <![CDATA[   where rownum<=5 ]]>
  </select>
</mapper>