<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mapper.oracle.GISMapper">
    <resultMap id="OrgPositionMap" type="com.chinasofti.domain.OrgPosition">
        <result column="COP_ORGCODE" property="orgCode" jdbcType="VARCHAR"/>
        <result column="COP_POSY" property="posy" jdbcType="VARCHAR"/>
        <result column="COP_POSX" property="posx" jdbcType="VARCHAR"/>
        <result column="COP_ORGNAME" property="orgname" jdbcType="VARCHAR"/>
        <result column="CSC_SCORE" property="orgScore" jdbcType="VARCHAR"/>
        <result column="CO_CONTACTFAX " property="orgFax" jdbcType="VARCHAR"/>
        <result column="CO_ORGADDR" property="orgAdress" jdbcType="VARCHAR"/>
        <result column="CO_RESPPERSON" property="orgRespperson" jdbcType="VARCHAR"/>
        <result column="CO_CONTACTPHONE" property="orgPhone" jdbcType="VARCHAR"/>
        <result column="CO_TYPELV" property="typeLv" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="GNShipPosMap" type="com.chinasofti.domain.GNShipPos" >
        <result column="CSP_ID" property="id" jdbcType="VARCHAR" />
        <result column="CSP_SHIPNO" property="shipno" jdbcType="VARCHAR" />
        <result column="CSP_SHIPNAME" property="shipname" jdbcType="VARCHAR" />
        <result column="CSP_SHIPPORT" property="shipport" jdbcType="VARCHAR" />
        <result column="CSP_RECTIME" property="rectime" jdbcType="VARCHAR" />
        <result column="CSP_LON" property="lon" jdbcType="VARCHAR" />
        <result column="CSP_LAT" property="lat" jdbcType="VARCHAR" />
        <result column="CSP_POSTYPE" property="postype" jdbcType="VARCHAR" />
        <result column="CSP_IDT" property="idt" jdbcType="VARCHAR" />
        <result column="CSP_POSTIME" property="postime" jdbcType="VARCHAR" />
        <result column="CSP_DIRECTION" property="direction" jdbcType="VARCHAR" />
        <result column="CSP_SPEED" property="speed" jdbcType="VARCHAR" />
        <result column="CSP_BOW" property="bow" jdbcType="VARCHAR" />
        <result column="CSP_TERMINAL_TYPE" property="terminalType" jdbcType="VARCHAR" />
        <result column="CSP_COMM_TYPE" property="commType" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="caseWhen1">
        case when CSC_SCORE between 0 and 60 then '0-60'
        when CSC_SCORE&gt;60 and CSC_SCORE&lt;=80 then '60-80'
        when CSC_SCORE&gt;80 and CSC_SCORE&lt;=100 then '80-100'
        end
    </sql>
    <sql id="caseWhen2">
        case when CS_EDUCERTCODE1 is not null then '相关专业'
        when CS_EDUCERTCODE1 is null and CS_EDUCERTCODE in ('相似专业_代码待确认') then '相似专业'
        else '其他专业'
        end
    </sql>
    <sql id="caseWhen3">
        case when csc_score between 0 and 60 then '0-60'
        when csc_score&gt;60 and csc_score&lt;=80 then '60-80'
        else '80-100' end
    </sql>
    <select id="getConstructionOrg" resultMap="OrgPositionMap">
        SELECT COP_ORGCODE,COP_POSY,COP_POSX,COP_ORGNAME,CO_CONTACTFAX,CO_ORGADDR,CO_RESPPERSON,
        CO_TYPELV ,
        CO_CONTACTPHONE,nvl(CSC_SCORE,0) csc_score
        FROM CIS_ORGINFO_POSITION T1
        LEFT JOIN CIS_ORGANINFO T2 ON T1.COP_ORGCODE = T2.CO_UID
        LEFT JOIN (select T3.CSC_SCORE,T3.CSC_REFID from cis_capacity t3
        INNER JOIN (select CSC_REFID ,max(csc_batch) csc_batch from CIS_CAPACITY group by CSC_REFID)T4
        on  T3. CSC_REFID=T4.CSC_REFID and T3.csc_batch=T4.csc_batch
        WHERE T3.CSC_BELONGMODEL='2001' AND t3.CSC_TYPE='1'
        ) T5
        ON T5.CSC_REFID=T1.COP_ORGCODE
        <if test="org.uid != null">
            AND T1.COP_ORGCODE = #{org.uid}
        </if>
        where t2.CO_TYPELV in ('6_1','6_2')
    </select>
    <select id="countByOrgCode" resultType="HashMap">
        SELECT nvl(${group},'其他') "${@com.limp.framework.core.constant.Constant@CODE_TRANS_PRE}name",count(*) nums FROM CIS_ORGANINFO
        <where>
            <if test="orgcode != null">
                AND CO_UID like #{orgcode}
            </if>
        </where>
        GROUP BY ${group}
    </select>
    <select id="getGisSurData1" resultType="HashMap">
        select T.*,TT.CO_PROVNAME PROVNAME from
        (select substr(ORGCODE,0,2)||'00000' orgcode,count(*) realNums,sum(YCSMINNUM) minnums, sum(YCSGOODNUM) maxnums
        from them_ycs_qkrs
        where year=to_char(sysdate,'yyyy')
        group by substr(ORGCODE,0,2) ) T
        left join cis_organinfo TT on T.orgcode = TT.co_orgcode
        WHERE TT.co_orgcode != '0000000'
    </select>
    <select id="getSurAbilityData1" resultType="HashMap">
        select T.*,TT.CO_PROVNAME PROVNAME
        FROM (select count(*) surNums,substr(CS_ORGANID,0,2)||'00000' orgcode
        from cis_surveyor GROUP BY substr(CS_ORGANID,0,2) )T
        INNER JOIN cis_organinfo TT ON TT.CO_ORGCODE = T.orgcode
        where TT.CO_ORGCODE NOT IN('0000000','1000000','2000000')<!--todo:排除审图中心和部级-->
    </select>
    <select id="getSurAbilityData2" resultType="HashMap">
        select <include refid="caseWhen1"/> "name",count(1) "value"

        from cis_capacity T
        INNER JOIN (select CSC_REFID ,max(csc_batch) csc_batch from CIS_CAPACITY where CSC_BELONGMODEL = '1001' and CSC_TYPE ='1' group by CSC_REFID)TT ON  T.CSC_REFID=TT.CSC_REFID and T.csc_batch=TT.csc_batch
        INNER JOIN CIS_SURVEYOR TTT ON TTT.CS_UID=T.CSC_REFID
        <if test="likeStr != null">
            WHERE TTT.CS_ORGANID LIKE #{likeStr}
        </if>
        group by <include refid="caseWhen1"/>
    </select>
    <select id="getSurAbilityData3" resultType="HashMap">
        select ${groupField},count(1) num from them_ycs_jbxx
        <where>
            YEAR = #{year}
            <if test="likeStr != null">
                AND ORGCODE LIKE #{likeStr}
            </if>
        </where>
        group by  ${groupField}
    </select>
    <select id="getSurAbilityData4" resultType="HashMap">
        select <include refid="caseWhen2"/>  profession,count(1) num
        from CIS_SURVEYOR
        <if test="likeStr != null">
            WHERE CS_ORGANID LIKE #{likeStr}
        </if>
        group by <include refid="caseWhen2"/>
    </select>
    <select id="getOrgData1" resultType="HashMap">
        select <include refid="caseWhen1"/> "name",count(1) "value"
        from cis_capacity T
        INNER JOIN (select CSC_REFID ,max(csc_batch) csc_batch from CIS_CAPACITY
        where CSC_BELONGMODEL = '2001' and CSC_TYPE ='1'
        <if test="likeStr != null">
            AND csc_refid LIKE #{likeStr}
        </if>
        group by CSC_REFID)TT ON  T.CSC_REFID=TT.CSC_REFID and T.csc_batch=TT.csc_batch
        group by <include refid="caseWhen1"/>
    </select>
    <select id="getOrgData2" resultType="HashMap">
        select T.*,TT.CO_PROVNAME PROVNAME from
        (select substr(co_orgcode,0,2)||'00000' orgcode,count(*) orgnums from cis_organinfo group by substr(co_orgcode,0,2)) T
        inner join cis_organinfo TT on T.orgcode = TT.co_orgcode
        WHERE TT.co_orgcode != '0000000'
    </select>
    <select id="getGisSurData2" resultType="HashMap">
        select educertcode type,sum(ycsgapnum) gapnums,sum(YCSMINNUM) minnums,sum(ycsnum) realnums,sum(YCSGOODNUM) maxnums from THEM_YCS_QKRS t
        <where>
            year = to_char(sysdate,'yyyy')
            <if test="likeStr != null">
                AND ORGCODE like #{likeStr}
            </if>
        </where>
        group by educertcode
        order by educertcode asc
    </select>
    <select id="getGisTrainData1" resultType="HashMap">
        select T.*,TT.CO_PROVNAME PROVNAME from

        (select substr(CSR_ORGCODE,0,2)||'00000' orgcode,count(*) trainnums from CIS_SURTRAIN_RECORD
        where CSR_ORGCODE is not null and CSR_ORGCODE !='0000000'
        group by substr(CSR_ORGCODE,0,2)) T

        inner join cis_organinfo TT on T.orgcode = TT.co_orgcode
    </select>
    <select id="getGisTrainData2" resultType="HashMap">
        select
        case when T.CT_INITIATE_ORGCODE='0000000' then  '部局组织' else '地方组织' end as name ,count(1) value
        from CIS_TRAININFO T INNER JOIN CIS_SURTRAIN_RECORD TT ON TT.CSR_TRAINID = T.CT_UID
        <if test="likeStr != null">
            where TT.CSR_ORGCODE LIKE #{likeStr}
        </if>
        group by case when T.CT_INITIATE_ORGCODE='0000000' then  '部局组织' else '地方组织' end

    </select>
    <select id="getGisTrainData3" resultType="HashMap">
        select TT.CT_TRAINCATE traincate,COUNT(*) nums
        from cis_surtrain_record T
        inner join cis_traininfo TT ON T.CSR_TRAINID = TT.CT_UID
        <if test="likeStr != null">
            where T.CSR_ORGCODE LIKE #{likeStr}
        </if>
        GROUP BY TT.CT_TRAINCATE
    </select>
    <select id="countGisTrainData3" resultType="int">
        select COUNT(*)
        from cis_surtrain_record T
        inner join cis_traininfo TT ON T.CSR_TRAINID = TT.CT_UID
        <if test="likeStr != null">
            where T.CSR_ORGCODE LIKE #{likeStr}
        </if>
    </select>

    <select id="getProductCheckData1" resultType="HashMap">
        select T.*,TT.CO_PROVNAME PROVNAME from
        (select substr(CPC_RC2,0,2)||'00000' orgcode,count(1) nums
        from cis_products_check group by substr(CPC_RC2,0,2)) T
        inner join cis_organinfo TT on T.orgcode = TT.co_orgcode
        WHERE TT.co_orgcode != '0000000'
    </select>
    <select id="getProductCheckData2" resultType="HashMap">
        select TT.DICTDATA_NAME name,TT.DICTDATA_VALUE type,case when T.cpc_producttype is not null then count(1) else 0 end num
        from (select CPC_PRODUCTTYPE from  CIS_PRODUCTS_CHECK
                <if test="likeStr != null">
                    where CPC_RC2 LIKE #{likeStr}
                </if>
                ) T
        right JOIN DIC_CODE TT ON T.CPC_PRODUCTTYPE = TT.DICTDATA_VALUE
        where  length(TT.DICTDATA_VALUE)=1 AND TT.DICT_CATE='CPLB'
        group by TT.DICTDATA_NAME,TT.DICTDATA_VALUE,T.cpc_producttype
    </select>
    <select id="countProductCheckData2" resultType="int">
        select count(1) NUMS
        from CIS_PRODUCTS_CHECK T INNER JOIN DIC_CODE TT ON T.CPC_PRODUCTTYPE = TT.DICTDATA_VALUE
        where T.cpc_producttype is not null and length(T.cpc_producttype)=1 AND TT.DICT_CATE='CPLB'
        <if test="likeStr != null">
            AND T.CPC_RC2 LIKE #{likeStr}
        </if>
    </select>
    <select id="getProductCreateData1" resultType="HashMap">
        select CE_PID id,CE_ENTNAME entname,CE_ADDRESS adddress,CE_LEGAL legal,CE_TEL tel,CEP_POSX posx,CEP_POSY posy,
        (select count(1) from CIS_PROCHECK_LIST where CPL_ENTID=T1.CE_PID ) certnum,nvl(CSC_SCORE,0) entscore
        from CIS_ENTINFO T1
        LEFT JOIN CIS_ENTINFO_POSITION T2 ON T1.CE_PID = T2.CEP_ENTID AND T1.CE_ENTCATE='1'
        LEFT JOIN
        (select cc.* from CIS_CAPACITY cc
        LEFT JOIN (select CSC_REFID ,max(csc_batch) csc_batch from CIS_CAPACITY group by CSC_REFID)cc1
        ON cc.CSC_REFID=cc1.CSC_REFID AND cc.csc_batch=cc1.csc_batch
        WHERE cc.CSC_BELONGMODEL='3005' AND cc.CSC_TYPE='1') T3
        ON T3.CSC_REFID=T1.CE_PID
        WHERE T2.CEP_UTIME=(select max(CEP_UTIME) from CIS_ENTINFO_POSITION WHERE CEP_ENTID= T1.CE_PID)<!--获取最新的坐标-->
        <if test="name != null">
            AND T1.CE_ENTNAME like #{name}
        </if>
    </select>
    <select id="getProductCreateData2" resultType="HashMap">
        select TT.CO_ORGCODE orgcode,TT.CO_PROVNAME provname,T.num from
        (select substr(CE_ORGCODE,0,2) orgcode,COUNT(1) num from CIS_ENTINFO WHERE CE_ENTCATE='1' GROUP BY substr(CE_ORGCODE,0,2)) T
        RIGHT join CIS_ORGANINFO TT on T.ORGCODE||'00000' = TT.CO_UID
        where tt.co_typelv='6_2'
    </select>
    <select id="getProductCreateData3" resultType="HashMap">
        select <include refid="caseWhen1"/> "name",count(1) "value"

        from cis_capacity T
        INNER JOIN (select CSC_REFID ,max(csc_batch) csc_batch from CIS_CAPACITY  where CSC_BELONGMODEL = '3001' and CSC_TYPE ='1' group by CSC_REFID)TT ON  T.CSC_REFID=TT.CSC_REFID and T.csc_batch=TT.csc_batch
        INNER JOIN CIS_ENTINFO TTT ON TTT.CE_PID=T.CSC_REFID

        <if test="likeStr != null">
        where TTT.CE_ORGCODE LIKE #{likeStr}
        </if>
        group by <include refid="caseWhen1"/>
    </select>
    <select id="getProductTypeData1" resultType="HashMap">
        select T.*,TT.CO_PROVNAME PROVNAME from
        (select SUBSTR(TT.CE_ORGCODE,0,2)||'00000' orgcode,count(1) num from CIS_PRODUCTINFO T  inner join  CIS_ENTINFO TT ON T.CP_ENTID = TT.CE_PID  GROUP BY SUBSTR(TT.CE_ORGCODE,0,2))T
        inner join cis_organinfo TT on T.orgcode = TT.co_orgcode
        WHERE TT.co_orgcode != '0000000'
    </select>
    <select id="getProductTypeData2" resultType="HashMap">
        select TT.DICTDATA_NAME name,TT.DICTDATA_VALUE type,case when T.CP_TYPE is not null then count(1) else 0 end num
        from (select T.CP_TYPE from CIS_PRODUCTINFO T left JOIN CIS_ENTINFO TTT ON T.CP_ENTID = TTT.CE_PID
            <if test="likeStr != null">
                where TTT.CE_ORGCODE LIKE #{likeStr}
            </if>) T
        right JOIN DIC_CODE TT ON T.CP_TYPE = TT.DICTDATA_VALUE
        where  length(TT.DICTDATA_VALUE)=1 AND TT.DICT_CATE='CPLB'
        group by TT.DICTDATA_NAME,TT.DICTDATA_VALUE,T.CP_TYPE
    </select>
    <select id="countProductTypeData2" resultType="int">
        select count(1)
        from CIS_PRODUCTINFO T INNER JOIN DIC_CODE TT ON T.CP_TYPE = TT.DICTDATA_VALUE
        INNER JOIN CIS_ENTINFO TTT ON T.CP_ENTID = TTT.CE_PID
        where T.CP_TYPE is not null and length(T.CP_TYPE)=1 AND TT.DICT_CATE='CPLB'
        <if test="likeStr != null">
            AND TTT.CE_ORGCODE LIKE #{likeStr}
        </if>
    </select>
    <select id="getRaftStationData1" resultType="HashMap">
        <!--select CE_PID pid,CE_ENTNAME entname,CE_ADDRESS adddress,CE_LEGAL legal,CE_TEL tel,CEP_POSX posx,CEP_POSY posy,CSC_SCORE entscore
        from CIS_ENTINFO T1
        LEFT JOIN CIS_ENTINFO_POSITION T2 ON T1.CE_PID = T2.CEP_ENTID
        LEFT JOIN CIS_CAPACITY T3 ON T3.CSC_REFID=T1.CE_PID
        LEFT JOIN (select CSC_REFID ,max(csc_batch) csc_batch from CIS_CAPACITY group by CSC_REFID)T4
        ON T3.CSC_REFID=T4.CSC_REFID AND T3.csc_batch=T4.csc_batch
        WHERE T3.CSC_BELONGMODEL='3005' AND T3.CSC_TYPE='1'AND T1.CE_ENTCATE=#{entcate}
        AND T2.CEP_UTIME=(select max(CEP_UTIME) from CIS_ENTINFO_POSITION WHERE CEP_ENTID= T1.CE_PID)-->
        select CE_PID pid,CE_ENTNAME entname,CE_ADDRESS adddress,CE_LEGAL legal,CE_TEL tel,CEP_POSX posx,CEP_POSY posy,nvl(CSC_SCORE,0) entscore
        from CIS_ENTINFO T1
        LEFT JOIN CIS_ENTINFO_POSITION T2 ON T1.CE_PID = T2.CEP_ENTID
        LEFT JOIN
        (select cc.* from CIS_CAPACITY cc
        LEFT JOIN (select CSC_REFID ,max(csc_batch) csc_batch from CIS_CAPACITY group by CSC_REFID)cc1
        ON cc.CSC_REFID=cc1.CSC_REFID AND cc.csc_batch=cc1.csc_batch
        WHERE
        cc.CSC_BELONGMODEL='3005' AND
        cc.CSC_TYPE='1') T3
        ON T3.CSC_REFID=T1.CE_PID
        WHERE T1.CE_ENTCATE=#{entcate}
        AND T2.CEP_UTIME=(select max(CEP_UTIME) from CIS_ENTINFO_POSITION WHERE CEP_ENTID= T1.CE_PID)
        <if test="name != null">
            and T1.CE_ENTNAME LIKE #{name}
        </if>
    </select>
    <select id="countProNumByEnt" resultType="int">
        select count(*) from cis_product_repair
        <where>
            <if test="ent.pid != null">
                and cpr_entid=#{ent.pid}
            </if>
            <if test="proType != null">
                and cpr_protype=#{proType}
            </if>
        </where>
    </select>
    <select id="getCurCheckTime" resultType="String">
        select max(cpc_checktime) from cis_products_check
    </select>
    <select id="getProCheckAnalysis1" resultType="HashMap">
        select  entid,CEP_POSX posx,CEP_POSY posy,
        case when total>0 then
        (select CPC_CHECKPASS FROM cis_products_check WHERE CPC_entID=entid and rownum=1)
        else 0 end status FROM
            (select entid,sum(num) total from

                (select CE_PID entid,case when cpc_uid is null then 0 else count(*)  end num from CIS_ENTINFO T
                left join (select * from cis_products_check WHERE CPC_CHECKTYPE ='1' and cpc_checktime =#{curCheckTime}) TT on T.CE_PID = TT.cpc_entid where T.CE_ENTCATE IN('1','5','6')  group by CE_PID,cpc_uid)

            group by entid)TTT
        INNER JOIN CIS_ENTINFO_POSITION TTTT ON TTT.entid=TTTT.CEP_ENTID
    </select>
    <select id="getEntInfo" resultType="Map">
        select CE_ENTNAME entname ,CE_ADDRESS entAddress from CIS_ENTINFO WHERE CE_PID=#{ent.pid} and rownum=1
    </select>
    <select id="getLastCheckTime" resultType="String">
        select cpc_checktime from(select cpc_checktime,rownum rn  from (select distinct cpc_checktime from cis_products_check order by cpc_checktime desc))
        where rn =2
    </select>
    <select id="getChecResultByChecTime" resultType="String">
        select CPC_CHECKPASS result from CIS_PRODUCTS_CHECK WHERE CPC_ENTID = #{entid} and CPC_CHECKTIME=#{checkTime} AND  rownum=1
    </select>
    <select id="getChcekRate" resultType="Float">
        <!--select case when TT.num2=0 then 0 else round(T.num1*100/TT.num2,2) end
        from  (select count(1) num1 from cis_products_check where  cpc_checkpass='1'
          <if test="entid != null">
              and cpc_entid=#{entid}
          </if>
        )T,
      (select count(1) num2 from cis_products_check
        <if test="entid != null">
            WHERE cpc_entid=#{entid}
        </if>
      )TT-->
        select round(sum(cps.cpc_passnum)*100/sum(cps.cpc_checknum),2) from cis_product_spotcheck cps
        <if test="entid != null">
            WHERE CPC_ENTID=#{entid}
        </if>
    </select>
    <select id="getProCheckAnalysis3" resultType="Map">
        <!--select nvl(t.rate,0) rate,
        TT.CO_PROVNAME PROVNAME,
        tt.co_orgcode orgcode from(
                select t2.orgcode||'00000' orgcode,nvl(round(t1.num*100/t2.num ,2),0) rate from
                    (select substr(t4.ce_orgcode,0,2) orgcode, count(cpc_entid) num from cis_products_check t3
                    inner join cis_entinfo t4 on t3.cpc_entid=t4.ce_pid
                    where cpc_checktime=#{checkTime} and cpc_checktype='1'
                    group by  substr(t4.ce_orgcode,0,2)
                    )t1 right join
                (select substr(ce_orgcode,0,2) orgcode,count(1) num from cis_entinfo where ce_entcate in ('1','5','6') group by substr(ce_orgcode,0,2))t2
                on t1.orgcode = t2.orgcode) T
        right join cis_organinfo TT on T.orgcode = TT.co_orgcode
        WHERE tt.co_typelv='6_2'-->
        select round(sum(cps.cpc_passnum)*100/sum(cps.cpc_checknum),2) rate,ce.ce_orgcode orgcode from CIS_PRODUCT_SPOTCHECK cps
        inner join cis_entinfo ce on cps.cpc_entid=ce.ce_pid
        <if test="orgcode!=null">
            WHERE ce_orgcode like #{orgcode}
        </if>
        group by ce.ce_orgcode
    </select>

    <select id="getProCheckAnalysis4" resultType="Map">
        select t2.ce_entcate type,nvl(t1.num,0) checknum,t2.num totalnum from
        (select ce.ce_entcate,count(1) num from CIS_PRODUCT_SPOTCHECK cps
        inner join cis_entinfo ce on cps.cpc_entid=ce.ce_pid
        where ce.ce_entcate in ('1','5','6')
        group by ce.ce_entcate)t1 right join
        (select ce_entcate,count(1) num from cis_entinfo where ce_entcate in ('1','5','6') group by ce_entcate ) t2
        on t1.ce_entcate=t2.ce_entcate
    </select>
    <select id="getProductCreateData4" resultType="HashMap">
        <!--select DICTDATA_VALUE type,nvl(num,0) num,DICTDATA_NAME name from
        (select t1.cp_cpflyjfl "${@com.limp.framework.core.constant.Constant@CODE_TRANS_PRE}type",count(t1.CP_ENTID) num from CIS_PRODUCTINFO t1
        inner join CIS_ENTINFO t2 ON t1.CP_ENTID=t2.ce_pid
        where t2.ce_entcate='1'
        <if test="likeStr != null">
            and ce_orgcode like #{likeStr}
        </if>
        group by t1.cp_cpflyjfl)t3
        right join DIC_Code t4 on t3.type=t4.DICTDATA_VALUE
        where t4.DICt_Cate='CPLB' and length(DICTDATA_VALUE)=1-->
        select t4.dict_key "${@com.limp.framework.core.constant.Constant@CODE_TRANS_PRE}type",nvl(t3.num,0) num from
        (select t1.cp_cpflyjfl type,count(distinct t1.CP_ENTID) num from CIS_PRODUCTINFO t1
        inner join CIS_ENTINFO t2 ON t1.CP_ENTID=t2.ce_pid
        where t2.ce_entcate='1'
        <if test="likeStr != null">
            and ce_orgcode like #{likeStr}
        </if>
        group by t1.cp_cpflyjfl) t3
        right join sys_dic_code t4 on t3.type = t4.dict_key
        where t4.dict_cate='209'
    </select>
    <select id="countProEntNum" resultType="int">
        select count(distinct t1.CP_ENTID) num from CIS_PRODUCTINFO t1
        inner join CIS_ENTINFO t2 ON t1.CP_ENTID=t2.ce_pid
        where t2.ce_entcate='1'
        <if test="likeStr != null">
         and ce_orgcode like #{likeStr}
       </if>
    </select>
    <select id="getProCheckRate" resultType="Float">
        select case when TT.num2=0 then 0 else round(T.num1*100/TT.num2,2) end
        from  (select count(1) num1 from cis_products_check t1 inner join cis_entinfo t2  on t1.cpc_entid=t2.ce_pid where ce_orgcode like #{likeStr} and cpc_checkpass='1')T,
              (select count(1) num2 from cis_products_check t1 inner join cis_entinfo t2  on t1.cpc_entid=t2.ce_pid where ce_orgcode like #{likeStr})TT
    </select>
    <select id="getGisTrainData4" resultType="HashMap">
        select T.CT_TRAINNAME name,T.CT_TRAINPLACE place,T.CT_TRAINCATE type,nvl(T.ct_trainpeople,0) JHNUM,nvl(TT.PXNUM,0) PXNUM,T.ct_trainzt schedule
        from CIS_TRAININFO T
        left join them_px_jbxx TT on T.CT_UID=TT.ID
        <if test="orgcode != null">
            where T.CT_UID=#{orgcode}
        </if>
    </select>
    <select id="getGisTrainData5" resultType="HashMap">
        select distinct t1.CT_UID orgcode,
        t1.ct_trainplace trainplace,
        t1.CT_TRAINCATE type,
        t1.ct_trainname name,
        nvl(t1.ct_trainpeople,0) JHNUM,
        nvl(TT.PXNUM,0) PXNUM,
        t1.ct_lon posx,
        t1.ct_lat posy,
        t1.ct_trainzt statues
        from CIS_TRAININFO t1
        left join them_px_jbxx TT on t1.CT_UID=TT.ID
        where t1.ct_initiate_time like #{year}
        <if test="name != null">
            AND t1.CT_TRAINNAME LIKE #{name}
        </if>
    </select>
    <select id="getOceanShipData1" resultType="HashMap">
        select id,lon,lat,nvl(CSC_SCORE,100) score from (select cso_id id,cso_lon lon,cso_lat lat from cis_shipowner where cso_lon IS NOT NULL)T1
        LEFT JOIN
        (select CSC_SCORE,T3.CSC_REFID from cis_capacity T3
        INNER JOIN (select CSC_REFID ,max(csc_batch) csc_batch from CIS_CAPACITY group by CSC_REFID)T4
        on  T3. CSC_REFID=T4.CSC_REFID and T3.csc_batch=T4.csc_batch
        WHERE CSC_TYPE=1 AND T3.CSC_BELONGMODEL='5001')T2
        ON T1.ID=T2.CSC_REFID
    </select>
    <!--<select id="getOceanShipData2" resultType="HashMap">
        select t2.co_orgcode orgcode,t2.CO_PROVNAME proname,num from(
        select substr(co_orgcode,0,2) orgcode ,count(1) num from cis_organinfo where co_orgcode is not null&lt;!&ndash; and co_orgcode not in('','','') 审图中心和远洋协会需要排除在外,orgcode暂时未知&ndash;&gt;
        group by  substr(co_orgcode,0,2)) t1
        inner join cis_organinfo t2 on t1.orgcode||'00000'=t2.co_orgcode
    </select>-->
    <select id="getOceanOwnerInfo" resultType="Map">
      SELECT  CSO_NAME "name",CSO_ADDR "addr",nvl(CSO_TEL,'无') "tel",nvl(CSO_LEADER,'无') "leader" FROM CIS_SHIPOWNER WHERE CSO_ID=#{id} and rownum=1
    </select>
    <select id="getScoreById" resultType="Integer">
        select CSC_SCORE from cis_capacity where csc_refid=#{id} and  CSC_BELONGMODEL=#{belongModel} AND CSC_TYPE='1' and csc_batch =
        (select max(csc_batch) from cis_capacity where csc_refid=#{id})
    </select>
    <select id="getTotalById" resultType="Map">
        select count(1) "totalNum",sum(to_number(CS_TONNAGE)) "totalTon",sum(to_number(CS_POWER)) "totalPower"
        from cis_shipinfo
        <if test="id!=null">
            where cs_ownerno=#{id}
        </if>
    </select>
    <select id="getSafeScore" resultType="float">
        SELECT nvl(round(avg(CSC_SCORE),2),0) from cis_capacity T3
        INNER JOIN CIS_SHIPINFO T2 ON T2.CS_SHIPCODE=T3.CSC_REFID
        LEFT JOIN (select CSC_REFID ,max(csc_batch) csc_batch from CIS_CAPACITY group by CSC_REFID)T4
        ON T3.CSC_REFID=T4.CSC_REFID AND T3.csc_batch=T4.csc_batch
        WHERE CSC_BELONGMODEL='4001' AND CSC_TYPE='1'
        <if test="id!=null">
            and T2.CS_OWNERNO = #{id}
        </if>
    </select>
    <select id="getShipNum" resultType="Map">
        select CS_CHECKSTATUS "checkStatus",COUNT(1) "num" from cis_shipinfo
        <if test="id!=null">
            WHERE CS_OWNERNO =#{id}
        </if>
        group by CS_CHECKSTATUS
    </select>
    <select id="getSafeRateShipNum" resultType="Map">
        SELECT case when CSC_SCORE between 0 and 60 then 'lowNum' when CSC_SCORE&gt;60 and CSC_SCORE&lt;80
        then 'middleNum' else 'highNum' end "type",count(1) "num"
        from cis_capacity T3
        INNER JOIN CIS_SHIPINFO T2 ON T2.CS_SHIPCODE=T3.CSC_REFID
        LEFT JOIN (select CSC_REFID ,max(csc_batch) csc_batch from CIS_CAPACITY group by CSC_REFID)T4
        ON T3.CSC_REFID=T4.CSC_REFID AND T3.csc_batch=T4.csc_batch
        WHERE CSC_BELONGMODEL='4001' AND CSC_TYPE='1'
        <if test="id!=null">
            AND CS_OWNERNO =#{id}
        </if>
        group by case when CSC_SCORE between 0 and 60 then 'lowNum' when CSC_SCORE&gt;60 and CSC_SCORE&lt;80
        then 'middleNum' else 'highNum' end
    </select>
    <select id="getPointInfo" resultType="HashMap">
        SELECT T1.CEP_POSX "lon",T1.CEP_POSY "lat",T2.CE_PID "pid",T2.CE_ENTNAME "name",T2.CE_ADDRESS "addr",T2.CE_LEGAL "legal",T2.CE_TEL "tel",CSC_SCORE "score"
        FROM CIS_ENTINFO_POSITION T1
        LEFT JOIN CIS_ENTINFO T2 ON T1.CEP_ENTID = T2.CE_PID
        LEFT JOIN cis_capacity T3 ON T3.CSC_REFID=T1.CEP_ENTID
        INNER JOIN (select CSC_REFID ,max(csc_batch) csc_batch from CIS_CAPACITY group by CSC_REFID)T4 on  T3. CSC_REFID=T4.CSC_REFID and T3.csc_batch=T4.csc_batch
        WHERE  CSC_TYPE='1'
        <if test="belongModel != null">
            AND T3.CSC_BELONGMODEL=#{belongModel}
        </if>
        <if test="entcate != null">
            AND T2.CE_ENTCATE=#{entcate}
        </if>
    </select>
    <select id="getTechniciansById" resultType="Integer">
        select sum(CEQ_TECHNICIAN) from cis_entinfoext_qyfl2
        <if test="pid!=null">
            WHERE CEQ_ENTID=#{pid}
        </if>
    </select>
    <select id="getEntNumsGroupProvByCate" resultType="Map">
        SELECT T2.CO_ORGCODE "orgcode",T2.CO_PROVNAME "provname",nvl(T1.nums,0) "nums" FROM
        (select substr(CE_ORGCODE,0,2)||'00000' orgcode,count(1) nums  from cis_entinfo
        <if test="entcate != null">
            where ce_entcate=#{entcate}
        </if>
        GROUP BY substr(CE_ORGCODE,0,2))T1
        RIGHT JOIN
        (select CO_ORGCODE,CO_PROVNAME from cis_organinfo where co_orgcodeup='0000000')T2
        on T1.orgcode=T2.CO_ORGCODE
    </select>

    <select id="getRepairEntData3" resultType="Map">
        select <include refid="caseWhen3"/>  "name",count(1) "value" from CIS_CAPACITY t1
        INNER JOIN
        (select CSC_REFID ,max(csc_batch) batch from CIS_CAPACITY group by CSC_REFID)t2
        on  t1. CSC_REFID=t2.CSC_REFID and t1.csc_batch=t2.batch
        inner join cis_entinfo t3 on t1.csc_refid=t3.ce_pid
        WHERE t1.CSC_BELONGMODEL='3004' AND CSC_TYPE='1'
        <if test="likeStr!=null">
            and CE_ORGCODE like #{likeStr}
        </if>
        group by <include refid="caseWhen3"/>
    </select>
    <select id="getYYShipPos" resultType="Map">
        select CS_SHIPCODE "shipCode",cs_shipname "shipName",nvl(CS_SHIPROVNAME,'无') "provName",nvl(cs_callsign,'无') "callSign",
        nvl(cs_mmsi,'无') "MMSI",cs_shiplength "shipLength",CS_MODELWIDTH "modelWidth",CS_DESSPEED "desSpeed", cs_power "power",
        nvl(t2.cdate,'无') "lastCheckDate",t3.csp_lon "lon",t3.csp_lat "lat",t3.csp_direction "direction" from cis_shipinfo t1

        inner join

          (select b1.CSP_SHIPNO,b1.CSP_DIRECTION,b1.csp_lon,b1.csp_lat from cis_ship_pos_yy b1
          inner join
          (select csp_shipno,max(CSP_POSTIME) posttime from cis_ship_pos_yy group by csp_shipno) b2
          on b1.CSP_SHIPNO = b2.CSP_SHIPNO and b1.CSP_POSTIME=b2.posttime) t3

        on t1.CS_SHIPCODE=t3.CSP_SHIPNO

        left join
        ( select csc_ycbm,to_char(max(to_date(CSC_CHECKTIME,'YYYY-MM-DD HH24:MI:SS'))) cdate
        from cis_ship_check  Where trim(translate(RTRIM(LTRIM(substr(CSC_CHECKTIME,0,4))), '#0123456789.', '#')) is null group by csc_ycbm) t2
        on t1.cs_shipcode = t2.csc_ycbm
    </select>
    <select id="getOceanShipData4" resultType="Map">
        SELECT  CS_SHIPCODE "shipCode",cs_shipname "shipName",nvl(CS_SHIPROVNAME,'无') "provName",nvl(cs_callsign,'无') "callSign",
        nvl(cs_mmsi,'无') "MMSI",cs_shiplength "shipLength",CS_MODELWIDTH "modelWidth",CS_DESSPEED "desSpeed", cs_power "power",
        nvl(cdate,'无') "lastCheckDate",T1.csp_lon "lon",T1.csp_lat "lat",T1.CSP_DIRECTION "direction",nvl(T5.CSC_SCORE,0) "score"
        FROM
        (select b1.CSP_SHIPNO,b1.csp_lon,b1.csp_lat,b1.CSP_DIRECTION from cis_ship_pos_yy b1 inner join (select csp_shipno,max(CSP_POSTIME) posttime from cis_ship_pos_yy group by csp_shipno) b2 on b1.CSP_SHIPNO = b2.CSP_SHIPNO and b1.CSP_POSTIME=b2.posttime) T1
        left join
        (select T3.CSC_REFID,T3.CSC_SCORE FROM CIS_CAPACITY  T3 INNER JOIN (select CSC_REFID ,max(csc_batch) csc_batch from CIS_CAPACITY group by CSC_REFID)T4 on  T3. CSC_REFID=T4.CSC_REFID and T3.csc_batch=T4.csc_batch where T3.CSC_TYPE='1' AND T3.CSC_BELONGMODEL='4001' ) T5
        on T1.CSP_SHIPNO=T5.CSC_REFID
        left join
        (select csc_ycbm,to_char(max(to_date(CSC_CHECKTIME,'YYYY-MM-DD HH24:MI:SS'))) cdate from cis_ship_check group by csc_ycbm) t6
        on T1.CSP_SHIPNO = t6.csc_ycbm
        inner join cis_shipinfo t7
        on t1.CSP_SHIPNO=t7.cs_shipcode
    </select>
    <select id="getOceanShipData5" resultType="Map">
        SELECT CS_SHIPCODE "shipCode",cs_shipname "shipName",nvl(CS_SHIPROVNAME,'无') "provName",nvl(cs_callsign,'无') "callSign",
        nvl(cs_mmsi,'无') "MMSI",cs_shiplength "shipLength",CS_MODELWIDTH "modelWidth",CS_DESSPEED "desSpeed", cs_power "power",
        nvl(cdate,'无') "lastCheckDate",
        nvl(t2.CSP_DIRECTION,0) "direction",t2.CSP_LON "lon",t2.CSP_LAT "lat",
        case when t2.nums !=0 and t1.nums is not null then round(((t2.nums-t1.nums)/t2.nums)*100,2) else trunc(dbms_random.value(60,100))<!--暂时屏蔽--> END "checkRate" FROM
        (select cspy.csp_shipno,count(CSC_YCBM) nums from cis_ship_check  csc
        right join
        (select b1.CSP_SHIPNO from cis_ship_pos_yy b1 inner join (select csp_shipno,max(CSP_POSTIME) posttime from cis_ship_pos_yy group by csp_shipno) b2 on b1.CSP_SHIPNO = b2.CSP_SHIPNO and b1.CSP_POSTIME=b2.posttime) cspy
        on cspy.CSP_SHIPNO = csc.csc_ycbm
        where CSC_CHECKPASS =2 and cspy.csp_shipno is not null
        group by cspy.csp_shipno
        )t1
        right join
        (select cspy.CSP_DIRECTION,cspy.csp_shipno,cspy.CSP_LON,cspy.CSP_Lat,count(CSC_YCBM) nums from cis_ship_check  csc
        right join
        (select b1.CSP_DIRECTION,b1.CSP_SHIPNO,
        b1.csp_lon,b1.csp_lat from cis_ship_pos_yy b1 inner join (select csp_shipno,max(CSP_POSTIME) posttime from cis_ship_pos_yy group by csp_shipno) b2 on b1.CSP_SHIPNO = b2.CSP_SHIPNO and b1.CSP_POSTIME=b2.posttime) cspy
        on cspy.CSP_SHIPNO = csc.csc_ycbm
        where cspy.csp_shipno is not null
        group by cspy.csp_shipno,cspy.CSP_LON,cspy.CSP_Lat,cspy.CSP_DIRECTION
        )t2
        on t1.csp_shipno=t2.csp_shipno
        left join cis_shipinfo t7
        on t2.CSP_SHIPNO=t7.cs_shipcode
        left join
        ( select csc_ycbm,to_char(max(to_date(CSC_CHECKTIME,'YYYY-MM-DD HH24:MI:SS'))) cdate from cis_ship_check group by csc_ycbm) t6
        on t2.csp_shipno= t6.csc_ycbm
    </select>
    <select id="getOceanShipData6" resultType="Map">
        select CS_SHIPCODE "shipCode",cs_shipname "shipName",nvl(CS_SHIPROVNAME,'无') "provName",nvl(cs_callsign,'无') "callSign",
        nvl(cs_mmsi,'无') "MMSI",cs_shiplength "shipLength",CS_MODELWIDTH "modelWidth",CS_DESSPEED "desSpeed", cs_power "power",
        nvl(cdate,'无') "lastCheckDate",
        T1.csp_lon "lon",T1.csp_lat "lat",T1.CSP_DIRECTION "direction",
        nvl(trunc(months_between(sysdate,to_date(substr(CS_COMPLETDATE,0,10),'yyyy-MM-dd'))/12),0) "age"
        from  (select b1.CSP_SHIPNO,b1.csp_lon,b1.csp_lat,b1.CSP_DIRECTION from cis_ship_pos_yy b1 inner join (select csp_shipno,max(CSP_POSTIME) posttime from cis_ship_pos_yy group by csp_shipno) b2 on b1.CSP_SHIPNO = b2.CSP_SHIPNO and b1.CSP_POSTIME=b2.posttime) T1
        left join
        cis_shipinfo T2 on T1.CSP_SHIPNO=T2.CS_SHIPCODE
        left join
        ( select csc_ycbm,to_char(max(to_date(CSC_CHECKTIME,'YYYY-MM-DD HH24:MI:SS'))) cdate from cis_ship_check group by csc_ycbm) t6
        on t2.cs_shipcode= t6.csc_ycbm
    </select>
    <select id="getOceanShipData7" resultType="Map">
        SELECT  CS_SHIPCODE "shipCode",cs_shipname "shipName",nvl(CS_SHIPROVNAME,'无') "provName",nvl(cs_callsign,'无') "callSign",
        nvl(cs_mmsi,'无') "MMSI",cs_shiplength "shipLength",CS_MODELWIDTH "modelWidth",CS_DESSPEED "desSpeed", cs_power "power",
        nvl(cdate,'无') "lastCheckDate",
        T1.csp_lon "lon",T1.csp_lat "lat",nvl(T1.CSP_DIRECTION,0) "direction",nvl(T2.CS_CHECKSTATUS,0) "checkStatus"
        FROM
        (select b1.CSP_SHIPNO,b1.csp_lon,b1.csp_lat,b1.CSP_DIRECTION from cis_ship_pos_yy b1
          inner join
          (select csp_shipno,max(CSP_POSTIME) posttime from cis_ship_pos_yy group by csp_shipno) b2
          on b1.CSP_SHIPNO = b2.CSP_SHIPNO and b1.CSP_POSTIME=b2.posttime)T1
        left join cis_shipinfo T2
        on t1.CSP_SHIPNO =t2.cs_shipcode
        left join
        ( select csc_ycbm,to_char(max(to_date(CSC_CHECKTIME,'YYYY-MM-DD HH24:MI:SS'))) cdate from cis_ship_check group by csc_ycbm) t6
        on t2.cs_shipcode= t6.csc_ycbm
    </select>
    <select id="getDrawCheck1" resultType="Map">
        select T2.CO_ORGCODE "orgcode",T2.CO_PROVNAME "provname" ,NVL(T1.nums,0) "nums" from
        (select substr(t2.cs_organid,0,2)||'00000' orgcode,count(distinct cdc_drawno) nums from CIS_DRAW_CHECK t1
        left join cis_surveyor t2 on t1.CDC_YCSCERTNUM=t2.cs_ycscertnum
        group by  substr(t2.cs_organid,0,2)) T1
        RIGHT JOIN
        (select CO_ORGCODE,CO_PROVNAME from cis_organinfo where co_orgcodeup='0000000')T2
        on T1.orgcode=T2.CO_ORGCODE
    </select>
    <select id="getDrawCheck2" resultType="Map">
        select CD_SHIPTYPEREAL "name", count(distinct cdc_drawno) "value" from CIS_DRAW_CHECK t1
        inner join cis_drawinfo t2
        on t1.cdc_drawno=t2.cd_drawno
        <if test="likeStr != null">
            WHERE CDC_ORGCODE like #{likeStr}
        </if>
        group by CD_SHIPTYPEREAL
    </select>
    <select id="getStOrg" resultType="Map">
       select t1.co_orgname "orgname",t1.co_orgaddr "address",nvl(t1.co_contactphone,'无') "phone",
        t1.co_respperson "person",nvl(t2.nums,0) "nums",t3.cop_posx "lon" ,t3.cop_posy "lat" from
        (select co_orgcode,co_orgname ,CO_ORGADDR,CO_CONTACTPHONE,co_respperson from CIS_ORGANINFO
        where co_orgname like '%审图中心' )t1
        left join
        (select cdc_orgcode ,count(distinct CDC_DRAWNO) nums from cis_draw_check group by cdc_orgcode)t2
        on t1.co_orgcode = t2.cdc_orgcode
        LEFT JOIN cis_orginfo_position t3
        on t3.COP_ORGCODE=t1.co_orgcode
    </select>
    <select id="getOceanShipData8" resultType="Map">
        select t1.CA_code "orgcode",t1.ca_name "name",nvl(t1.ca_position,'无') "address",nvl(t2.nums,0) "groupNums" ,
        nvl(t3.nums,0) "shipNums",ca_lon "lon",ca_lat "lat" from
        (select CA_code,ca_name,ca_position,ca_lon,ca_lat from cis_abroadorg)t1
        left join
        (select CA_PCSJBM,count(1) nums from cis_abroadgroup group by CA_PCSJBM)t2
        on t1.CA_code=t2.CA_PCSJBM
        left join
        (select csc_orgcode,count(1) nums from cis_ship_check  group by csc_orgcode )t3
        on t1.CA_code = t3.csc_orgcode
    </select>
    <select id="getAbroadGroupByOrgcode" resultType="Map">
        select CA_PCSJBM "code",CA_NAME "name",nvl(CA_STATUS,'0') "status" from cis_abroadgroup
        <if test="orgcode != null">
            WHERE CA_PCSJBM=#{orgcode}
        </if>
    </select>
    <select id="getGroupCheckTime" resultType="Integer">
        select max(to_date(cago_leavedate,'yyyy-mm-dd'))-min(to_date(cago_arrdate,'yyyy-mm-dd')) from CIS_ABROAD_GROUPORG
        <if test="groupCode!=null">
            WHERE CSC_GROUPCODE=#{groupCode}
        </if>
    </select>
    <select id="getCheckedShips" resultType="Integer">
        select count(1) from cis_ship_check
        <if test="groupCode!=null">
            where CSC_GROUPCODE =#{groupCode}
        </if>
    </select>
    <select id="getOceanShipData10" resultType="Map">
        select CS_DESSPEED "desspeed",CS_OWNERNAME "ownernam",CS_SHIPNAME "shipname",nvl(CS_CALLSIGN,'无') "callSign",
        nvl(CS_MMSI,'无') "MMSI",CS_CHECKSTATUS "checkStatus",
        CS_JOBTYPE "jobType",
        extract(year from sysdate)-to_number(substr(CS_COMPLETDATE,0,4)) "age",
        CSP_DIRECTION "direction",
        CSP_SPEED "speed",CSP_LON "lon",CSP_LAT "lat",CS_SHIPLENGTH "shipLength",CS_MODELWIDTH "modelWidth",CS_MODELDEPTH "modeldepth",
        CS_POWER "power",nvl(CIM_PATH,'无') "img_path",
        null "rate"<!--todo-->
        from cis_shipinfo t1
        left join
        (select b1.* from ${tName} b1 inner join (select csp_shipno,max(CSP_POSTIME) posttime from ${tName} group by csp_shipno) b2 on b1.CSP_SHIPNO = b2.CSP_SHIPNO and b1.CSP_POSTIME=b2.posttime) t2
        on t1.cs_shipcode = t2.csp_shipno
        left join cis_img_manager t3 on t1.cs_shipcode=t3.CIM_REFID and t3.cim_typenum='4' and t3.cim_status='1'
        WHERE rownum=1
        <if test="shipCode!=null">
            AND t1.cs_shipcode = #{shipCode}
        </if>
    </select>
    <select id="getYYShips" resultType="Map">
        SELECT * FROM
        (SELECT a.*,rownum rn FROM
        (select t1.CS_SHIPCODE shipcode,CS_SHIPNAME shipname,CS_SHIPROVNAME provname,cs_callsign callsign,
        nvl(cs_mmsi,'无') mmsi,cs_shiplength length,cs_modelwidth modelwidth,cs_power pow,t2.cdate,CS_CHECKSTATUS checkState,nvl(t3.CSP_DIRECTION,'无') direction
        from cis_shipinfo t1
        inner join (
            select csc_ycbm,to_char(max(to_date(CSC_CHECKTIME,'YYYY-MM-DD HH24:MI:SS')),'yyyy-mm-dd') cdate
            from cis_ship_check
            <if test="orgcode!=null">
                where CSC_ORGCODE=#{orgcode}
            </if>
            group by csc_ycbm) t2
        on t1.cs_shipcode = t2.csc_ycbm
        left join
            (select b1.CSP_SHIPNO,b1.CSP_DIRECTION from cis_ship_pos_yy b1
            inner join
              (select csp_shipno,max(CSP_POSTIME) posttime from cis_ship_pos_yy group by csp_shipno) b2
            on b1.CSP_SHIPNO = b2.CSP_SHIPNO and b1.CSP_POSTIME=b2.posttime) t3
        on t1.CS_SHIPCODE=t3.CSP_SHIPNO
        )a)
        WHERE rn BETWEEN #{beginRow} and #{endRow}
    </select>
    <select id="countYYShips" resultType="int">
        select count(9) from cis_ship_check <if test="orgcode!=null"> where CSC_ORGCODE=#{orgcode} </if>
    </select>

    <select id="queryOceanShip" resultType="Map">
        select shipname,shipcode,ownername,checkstatus,callsign,MMSI,
        SHIPTYPE as "${@com.limp.framework.core.constant.Constant@CODE_TRANS_PRE}SHIPTYPE",
        SHIPLENGTH,
        MODELWIDTH,
        shipage,
        score,
        lon,
        lat,
        speed,
        direction,
        trustcode,
        rate
        from view_gis_yyshipinfo
        <where>
            <if test="param.shipName != null and param.shipName!=''">
                AND shipName like '%${param.shipName}%'
            </if>
            <if test="param.ownerName != null and param.ownerName!=''">
                AND (ownername like '%${param.ownerName}%' or trustcode like '%${param.ownerName}%')
            </if>
            <if test="param.statuses != null">
                AND
                <foreach collection="param.statuses" item="status" open="(" close=")" separator="or">
                    checkstatus=#{status}
                </foreach>
            </if>
            <if test="param.scores != null">
                AND
                <foreach collection="param.scores" item="score" open="(" close=")" separator="or">
                    score=#{score}
                </foreach>
            </if>
            <if test="param.rates != null">
                AND
                <foreach collection="param.rates" item="rate" open="(" close=")" separator="or">
                    rate=#{rate}
                </foreach>
            </if>
            <if test="param.ages != null">
                AND
                <foreach collection="param.ages" item="age" open="(" close=")" separator="or">
                    shipage=#{age}
                </foreach>
            </if>
            <if test="param.lng1 != null and param.lng2!=null">
                AND
                lon BETWEEN #{param.lng1} AND #{param.lng2}
                AND
                lat BETWEEN  #{param.lat2} and #{param.lat1}
            </if>
        </where>
    </select>
    
    <select id="getShipPortPos" resultType="Map">
        select CP_NAME "name",CP_PROVNAME "provname",CP_LON "lon",CP_LAT "lat" FROM CIS_PORT
    </select>
    <select id="getSurShipHs" resultType="Map">
        select
        t1.CSC_CHECKTYPE "${@com.limp.framework.core.constant.Constant@CODE_TRANS_PRE}checkType",
        t1.CSC_CHECKTIME "checkTime",
        decode(t1.csc_checkpass,'1','合格','不合格') "checkPass",
        t1.csc_ycbm "ycbm",
        t4.csp_lon "lon",
        t4.csp_lat "lat",
        t4.csp_speed "speed",
        t4.CSP_DIRECTION "direction",
        t5.CS_MMSI "MMSI",
        t5.CS_JOBTYPE "jobType",
        t5.cs_shiplength "shipLength",
        t5.CS_MODELWIDTH "modelwidth",
        wm_concat(t3.cs_ycsname) "ycsName",
        '1' "isPass"
        from cis_ship_check t1
        inner join cis_shipcheck_surveyor t2
        on t1.csc_uid=t2.CYS_SHEET_KEY
        inner join cis_surveyor t3 on t2.cys_user_id = t3.cs_uid
        inner join cis_ship_pos_yy t4 on t1.csc_ycbm=t4.csp_shipno
        left join cis_shipinfo t5 on t5.cs_shipcode=t4.csp_shipno
        WHERE to_date(t1.CSC_CHECKTIME,'yyyy-mm-dd') BETWEEN to_date(#{bYear},'yyyy-mm-dd') and to_date(#{eYear},'yyyy-mm-dd')
        group by t1.CSC_CHECKTYPE,t1.CSC_CHECKTIME,t1.csc_checkpass,t1.csc_ycbm,t4.csp_lon,t4.csp_lat,
        csp_speed,CSP_DIRECTION,CS_MMSI,CS_JOBTYPE,cs_shiplength,t5.CS_MODELWIDTH
    </select>
    <select id="getSurNumByOrg" resultType="int">
        select count(1) num from them_ycs_jbxx
        <where>
            YEAR = ${year}
            <if test="likeStr != null">
                AND ORGCODE LIKE #{likeStr}
            </if>
        </where>
    </select>
    <select id="getInShipPos" resultType="Map">
        select t1.* from ${tName} t1
        inner join
        (select csp_shipno,max(CSP_POSTIME) csp_postime from ${tName}  group by csp_shipno) t2
        on t1.csp_shipno = t2.csp_shipno AND t1.csp_postime=t2.csp_postime
        where to_number(csp_lon) between #{pos.x1} and #{pos.x2} and csp_lat between #{pos.y2} AND #{pos.y1}
    </select>
    <select id="getShipTrack" resultMap="GNShipPosMap">
        select csp_shipno,csp_shipname,csp_shipport,CSP_RECTIME,CSP_LON,CSP_LAT,CSP_POSTYPE,
        CSP_POSTIME,CSP_DIRECTION,CSP_SPEED,CSP_BOW
        from (select csp_shipno,csp_shipname,csp_shipport,CSP_RECTIME,CSP_LON,CSP_LAT,CSP_POSTYPE,
        CSP_POSTIME,CSP_DIRECTION,CSP_SPEED,CSP_BOW,row_number() over(partition by substr(csp_postime,1,10) order by csp_postime) rw
        from ${tName} t
        where CSP_SHIPNO = #{pos.shipno}
        <if test="pos.startDate != null and pos.endDate!= null">
            AND csp_postime BETWEEN #{pos.startDate} and #{pos.endDate}
        </if>
        )
        where rw=1 order by csp_postime asc
    </select>
    <select id="countRepairTimes" resultType="int">
      select count(9) from  cis_ship_repair t1 inner join cis_entinfo t2 on t1.csr_entid =t2.ce_pid
      <if test="likeStr!=null">
          where t2.ce_orgcode like #{likeStr}
      </if>
    </select>
    <select id="countBuildShips" resultType="int">
        select count(9) from cis_shipinfo t1 inner join
        cis_entinfo  t2 on t1.cs_entbulid = t2.ce_pid
        <if test="likeStr!=null">
            where t2.ce_orgcode like #{likeStr}
        </if>
    </select>
    <select id="countShipRepairs" resultType="BigDecimal">
        select count(1) from (
        select t1.*,csc_checktime,csc.csc_rc5,
        row_number() over(partition by t1.shipid,t1.reptime order by csc.csc_checktime asc) rn from (
        select csr.csr_shipid shipid,csr.csr_reptime reptime from cis_ship_repair csr
        inner join cis_entinfo ce on csr.csr_entid=ce.ce_pid
        <if test="likeStr!=null">
            where ce.ce_orgcode like #{likeStr}
        </if>
        ) t1
        inner join cis_ship_check csc on t1.shipid=csc.csc_ycbm and csc.csc_checktime>=t1.reptime
        <if test="isFir">
            where csc_rc5=1
        </if>
        )
        where rn=1
    </select>

    <update id="updateTrainPos" parameterType="map">
        update cis_traininfo set ct_lon=#{map.POSX},ct_lat=#{map.POSY}
        where ct_uid = #{map.ORGCODE}
    </update>
</mapper>