<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mapper.oracle.ProCheckListMapper">
  <resultMap id="BaseResultMap" type="com.chinasofti.domain.ProCheckList">
    <result column="CPL_ID" property="id" jdbcType="VARCHAR"/>
    <result column="CPL_ENTNAME" property="entname" jdbcType="VARCHAR"/>
    <result column="CPL_ENTID" property="entid" jdbcType="VARCHAR"/>
    <result column="CPL_UID" property="uid" jdbcType="VARCHAR"/>
    <result column="CPL_PROTYPE" property="protype" jdbcType="VARCHAR"/>
    <result column="CPL_CERNO" property="cerno" jdbcType="VARCHAR"/>
    <result column="CPL_PROMODEL" property="promodel" jdbcType="VARCHAR"/>
    <result column="CPL_PRONAME" property="proname" jdbcType="VARCHAR"/>
    <result column="CPL_CHECKUNIT" property="checkunit" jdbcType="VARCHAR"/>
    <result column="CPL_CHECKPERSION" property="checkpersion" jdbcType="VARCHAR"/>
    <result column="CPL_ENDTIME" property="endtime" jdbcType="VARCHAR"/>
    <result column="CPL_CHECKTIME" property="checktime" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CPL_ID, CPL_ENTNAME, CPL_ENTID, CPL_UID, CPL_PROTYPE, CPL_CERNO, CPL_PROMODEL, CPL_PRONAME,
    CPL_CHECKUNIT, CPL_CHECKPERSION, CPL_ENDTIME, CPL_CHECKTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chinasofti.domain.ProCheckListExample">
    <include refid="OracleDialectPrefix"/>
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from CIS_PROCHECK_LIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix"/>
  </select>
  <delete id="deleteByExample" parameterType="com.chinasofti.domain.ProCheckListExample">
    delete from CIS_PROCHECK_LIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinasofti.domain.ProCheckList">
    insert into CIS_PROCHECK_LIST (CPL_ID, CPL_ENTNAME, CPL_ENTID,
    CPL_UID, CPL_PROTYPE, CPL_CERNO,
    CPL_PROMODEL, CPL_PRONAME, CPL_CHECKUNIT,
    CPL_CHECKPERSION, CPL_ENDTIME, CPL_CHECKTIME
    )
    values (#{id,jdbcType=VARCHAR}, #{entname,jdbcType=VARCHAR}, #{entid,jdbcType=VARCHAR},
    #{uid,jdbcType=VARCHAR}, #{protype,jdbcType=VARCHAR}, #{cerno,jdbcType=VARCHAR},
    #{promodel,jdbcType=VARCHAR}, #{proname,jdbcType=VARCHAR}, #{checkunit,jdbcType=VARCHAR},
    #{checkpersion,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}, #{checktime,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.domain.ProCheckList">
    insert into CIS_PROCHECK_LIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        CPL_ID,
      </if>
      <if test="entname != null">
        CPL_ENTNAME,
      </if>
      <if test="entid != null">
        CPL_ENTID,
      </if>
      <if test="uid != null">
        CPL_UID,
      </if>
      <if test="protype != null">
        CPL_PROTYPE,
      </if>
      <if test="cerno != null">
        CPL_CERNO,
      </if>
      <if test="promodel != null">
        CPL_PROMODEL,
      </if>
      <if test="proname != null">
        CPL_PRONAME,
      </if>
      <if test="checkunit != null">
        CPL_CHECKUNIT,
      </if>
      <if test="checkpersion != null">
        CPL_CHECKPERSION,
      </if>
      <if test="endtime != null">
        CPL_ENDTIME,
      </if>
      <if test="checktime != null">
        CPL_CHECKTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="entname != null">
        #{entname,jdbcType=VARCHAR},
      </if>
      <if test="entid != null">
        #{entid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="protype != null">
        #{protype,jdbcType=VARCHAR},
      </if>
      <if test="cerno != null">
        #{cerno,jdbcType=VARCHAR},
      </if>
      <if test="promodel != null">
        #{promodel,jdbcType=VARCHAR},
      </if>
      <if test="proname != null">
        #{proname,jdbcType=VARCHAR},
      </if>
      <if test="checkunit != null">
        #{checkunit,jdbcType=VARCHAR},
      </if>
      <if test="checkpersion != null">
        #{checkpersion,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="checktime != null">
        #{checktime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinasofti.domain.ProCheckListExample" resultType="java.lang.Integer">
    select count(*) from CIS_PROCHECK_LIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CIS_PROCHECK_LIST
    <set>
      <if test="record.id != null">
        CPL_ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.entname != null">
        CPL_ENTNAME = #{record.entname,jdbcType=VARCHAR},
      </if>
      <if test="record.entid != null">
        CPL_ENTID = #{record.entid,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null">
        CPL_UID = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.protype != null">
        CPL_PROTYPE = #{record.protype,jdbcType=VARCHAR},
      </if>
      <if test="record.cerno != null">
        CPL_CERNO = #{record.cerno,jdbcType=VARCHAR},
      </if>
      <if test="record.promodel != null">
        CPL_PROMODEL = #{record.promodel,jdbcType=VARCHAR},
      </if>
      <if test="record.proname != null">
        CPL_PRONAME = #{record.proname,jdbcType=VARCHAR},
      </if>
      <if test="record.checkunit != null">
        CPL_CHECKUNIT = #{record.checkunit,jdbcType=VARCHAR},
      </if>
      <if test="record.checkpersion != null">
        CPL_CHECKPERSION = #{record.checkpersion,jdbcType=VARCHAR},
      </if>
      <if test="record.endtime != null">
        CPL_ENDTIME = #{record.endtime,jdbcType=VARCHAR},
      </if>
      <if test="record.checktime != null">
        CPL_CHECKTIME = #{record.checktime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CIS_PROCHECK_LIST
    set CPL_ID = #{record.id,jdbcType=VARCHAR},
    CPL_ENTNAME = #{record.entname,jdbcType=VARCHAR},
    CPL_ENTID = #{record.entid,jdbcType=VARCHAR},
    CPL_UID = #{record.uid,jdbcType=VARCHAR},
    CPL_PROTYPE = #{record.protype,jdbcType=VARCHAR},
    CPL_CERNO = #{record.cerno,jdbcType=VARCHAR},
    CPL_PROMODEL = #{record.promodel,jdbcType=VARCHAR},
    CPL_PRONAME = #{record.proname,jdbcType=VARCHAR},
    CPL_CHECKUNIT = #{record.checkunit,jdbcType=VARCHAR},
    CPL_CHECKPERSION = #{record.checkpersion,jdbcType=VARCHAR},
    CPL_ENDTIME = #{record.endtime,jdbcType=VARCHAR},
    CPL_CHECKTIME = #{record.checktime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from (
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_  where rownum<= #{page.end}) where rownum_ > #{page.start} ]]>
    </if>
  </sql>

  <select id="getProductTypes" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT DISTINCT cpl_protype from cis_procheck_list
    <!--<if test="entid != null">-->
      <!--where cpl_entid = #{entid}-->
    <!--</if>-->
  </select>
  <select id="getProductNames" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT DISTINCT cpl_proname from cis_procheck_list where  cpl_protype = #{name}
    <!--<if test="entid != null">-->
      <!--and cpl_entid = #{entid}-->
    <!--</if>-->
  </select>
  <select id="getCrets" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT DISTINCT cpl_cerno from cis_procheck_list where cpl_proname = #{name}
    <!--<if test="entid != null">-->
      <!--and cpl_entid = #{entid}-->
    <!--</if>-->
  </select>

</mapper>