/*企业分级弹框  by  Duanyunhong*/
.personTable{
    margin:20px;
    width:700px;
}
.personTable tbody tr:nth-child(even){
    background:#294B6C;
}
.personTable th,thead{
    font-size: 18px;
    color:#fff;
}
.personTable tbody{
    font-size:16px;
}
.personTable .layui-layer-content{
    background:#122C5B;
    padding:20px;
    overflow-y: hidden;
}
.personTable .layui-layer-title{
    font-size: 20px;
    border-bottom: none;
}
.personTable .layui-layer-title{
    color:#fff;
    background:#122C5B;
}
.personTable .layui-layer-setwin .layui-layer-close2{
    right: 3px;
    top:0px;
    width:20px;
    height:21px;
}
.personTable .layui-layer-setwin .layui-layer-ico{
    background:url('/resources/style/img/close.png');
}
.personTable .layui-layer-setwin .layui-layer-close2:hover{
    background-position:-180px -40px;
}
.box00{background: #122C5B;width: 1080px;height: 660px;margin-left: 10px;box-shadow: 5px 15px 20px 0px rgba(15,35,83,0.65);}
.information>li{padding: 5px;color: #5FCBFF;font-size: 16px;}
.checkTime >thead th{
    width:125px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-top:1px solid #204A79;
    border-bottom:1px solid #204A79;
}
.checkTime >tbody tr td{
    width: 125px;
    height: 30px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    color: #53B2E5;
}
.inforTable>thead th{
    width:395px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-top:1px solid #204A79;
    border-bottom:1px solid #204A79;
}

.inforTable>tbody tr td{
    width: 395px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    color: #53B2E5;
}
.inforTable>tbody tr:nth-child(even){
    background: #294B6C;
}
/*+++++++++++20170803   by   Duanyunhong++++++++++++++++*/
/*tab切换样式*/
.nav-tabs>li>a{
    margin-right: 0px;
}
.nav>li>a{
    padding:10px 15px;
    font-size: 16px;
    color: #408CB8;

}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,.nav>li>a:hover{
    color: #fff;
    cursor: pointer;
    background-color: #0D2046!important;
    border: none;
    font-weight:bold;
    border-bottom: 2px solid #408CB8;
    margin-bottom: 0px;
}
.nav-tabs{
    border-bottom: none;
}
.tab-content>.tab-pane{
    padding-top: 3px;
}

.panel-body>p>span {
    color: #5AA6DB;
}
a:hover{text-decoration: none}
.fenshu {
    color: #F0FF00;
    position: absolute;
    top: 1px;
    left: 100px;
}
.fenshu strong {
    font-size: 20px;
    color: #fff;
}
.repairBox{
    width:565px;
    /*height: 430px;*/
    background: #0F2353;
    box-shadow: 5px 15px 20px 0px rgba(15,35,83,0.65);
    margin: 0px -10px 20px 0px;
    border: 1px solid transparent;
}
/*banner*/
.banner{
    width: 83%;
}
.banList li{
    height: 100%;
    width: 100%;
    margin-left: 0px;
}
.banList li img {
    height: 100%;
    width: 100%;
}
.fomW{
    position: absolute;
    left: 107%;
    width:100%;
}
.dropdown-menu{
    background-color:rgba(26, 29, 71, 0.58);
    color:#fff;
}
.kaishi, .jieshu {
    float: left;
    color:#5CB4EC;
}
#datetimepicker1, #datetimepicker2 {
    width: 110px;
}
#datetimepicker1 .form-control, #datetimepicker2 .form-control {
    width: 70px;
    padding: 3px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.11);
    color: #fff;
    border: 0;
}
#datetimepicker1 .input-group-addon, #datetimepicker2 .input-group-addon {
    width: 35px;
    height: 34px;
    padding: 3px;
    margin: auto;
    background: rgba(0,0,0,0.11) url(../images/icon-white.png) -289px -108px no-repeat;
    border: 0px;
}
.shijianduan span {
    float: left;
    font-size: 16px;
    line-height: 30px;
    margin: auto;
    width: 100%;
    height: 100%;
}

/*2017.8.7  by mengnalisa*/
.buildtit{
    color: #fff;
    font-size: 16px;
    margin: 0px 30px 10px;
}
.buildtit a{
    color: #5FCBFF;
    text-decoration: underline;
}
.shadow{
    height: 75px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px;
}
.shadow p,.shadow p a{
    font-size:16px;
    color:#fff;
}
.jsNav {
    text-align: center;
}
.jsNav a{
    display:inline-block;
    background:#00AEFF;
    width:10px;
    height:10px;
    border-radius:50%;
    margin:0 5px;
}
.jsNav a.current{
    background:#FED61C;
    cursor:pointer
}
.file-upload-btn{
     color:#53B2E5;
}
.checkTime>tbody tr td{
    border:0;
}