@charset "UTF-8";

/*更多*/
.icon-more:hover {
    background: url(../img/icon-white.png) no-repeat scroll -185px -200px transparent;
    cursor: pointer;
}
.icon-more{
    display: inline-block;
    margin: 6px 4px;
    float: right;
    width: 15px;
    height: 15px;
    z-index: 10;
    background: url(../img/icon-blue.png) no-repeat scroll -185px -200px transparent;
}
/*box样式*/
[class*="common-box"]:hover {
    border: 1px solid #4981C8;
}
/*todo背景图片*/
.bi-box1-img1{

}
.common-box1{
    height: 150px;
    background: #0F2353;
    box-shadow: 5px 15px 20px 0px rgba(15,35,83,0.65);
    margin: 0px -10px 20px 0px;
    border: 1px solid transparent;

}
.common-box2{
    height: auto;
    min-height:320px ;
    background: #0F2353;
    box-shadow: 5px 15px 20px 0px rgba(15,35,83,0.65);
    margin: 0px -10px 20px 0px;
    border: 1px solid transparent;
    background-image: url(../img/surBg.png);
    background-size: 100% 100%;
}
.box2-ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
}
.box2-ul li{
    padding: 5px;
    color: #5FCBFF;
    font-size: 14px;

} .box2-ul li b{
    /*  margin-top: 0;
      margin-bottom: 10px;*/
      display: inline-block;
      width: 90px;
      min-width: 114px;
      font-weight: normal;
      text-align: right;
  }
.box2-ul li:hover {
    background: rgba(102,178,255,0.5);
}
#file-list .box2-ul span{
    color: #5FCBFF;
}
.box2-ul li span{
    vertical-align: top;
    display: inline-block;
    width: 50%;
    text-align: left;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*
       margin-bottom: -6px;
       display: inline-block;
       width: 235px;
       text-align: left;
       font-weight: bold;
       color: #fff;
       overflow: hidden; *//*自动隐藏文字*//*
       text-overflow: ellipsis;*//*文字隐藏后添加省略号*//*
       white-space: nowrap;*//*强制不换行*/
   }
.box2-title{
    color: #fff;
    margin: 18px 30px;
    font-size: 20px;

}
/*时间轴*/
.common-box3{
    /*width: 240px;*/
    height: 600px;
    /*max-width: 300px;*/
    background: #0F2353;
    box-shadow: 5px 7px 20px 0px rgba(15,35,83,0.65);
    width: 98%;
    margin: 0px 0px 20px 13px;
}
.box3-title{
   color: #fff;
    margin: 18px 30px;
    font-size: 20px;
}
.common-box1 .box-num{
    margin: 22px auto 0px auto;
}
.common-box2 .box-num{
  margin: 13px 0px;
}
.box-num{
    font-size: 50px;
    font-family: "Arial Regular","microsoft yahei";
    color: #F0FF00;
    text-align: center;
}
.box-num-unit{
    font-size: 16px;
}
.common-box2 .box-text{
   margin: -23px auto 20px auto;
}
.box-text{
    color: #5CB4EC;
    font-size: 16px;
    text-align: center;
    font-family: "microsoft yahei";
}
/*图片展示*/

.carousel-indicators li{
    background-color:#00AEFF !important;
}
.carousel-indicators .active{
    background-color:#FED61C !important;
}


/*BI页码-菱形*/
.bi-ul-slide{
    margin-left: -32px;
    list-style: none;
    width: 200px;
}
.bi-ul-slide li:hover{
    cursor: pointer;
}
.bi-ul-slide .active{
    background: #FED61C;
}
.bi-ul-slide li{
    float: left;
    width: 10px;
    height: 10px;
    margin: 10px 0px 0px 20px;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
    background: #15305B;
}
/*bi box布局*/
.bi-box2{
    height: auto;
    min-height:380px ;
    background: #0F2353;
    box-shadow: 5px 15px 20px 0px rgba(15,35,83,0.65);
    margin: 0px -10px 20px 0px;
    border: 1px solid transparent;
    background-size: 100% 100%;
}
/*bi 4个图形-布局*/
.bi-box2-4{
    height: auto;
    min-height:260px ;
    background: #0F2353;
    box-shadow: 5px 15px 20px 0px rgba(15,35,83,0.65);
    margin: 0px -10px 20px 0px;
    border: 1px solid transparent;
    background-size: 100% 100%;
}
/***两个图形布局***/
.bi-box1-2{
    height: auto;
    min-height:550px ;
    background: #0F2353;
    box-shadow: 5px 15px 20px 0px rgba(15,35,83,0.65);
    margin: 0px -10px 20px 0px;
    border: 1px solid transparent;
    background-size: 100% 100%;
}

.bi-box2-title{
    color: #fff;
    margin: 10px 20px;
    font-size: 20px;
}

/*******弹框**********************/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow-x: auto;
    overflow-y: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}
