/* maki 自定义 */
/*空白表格样式定义*/
.table-striped-no-border{


}
.table-striped-no-border tbody tr  th,.table-striped-no-border tbody tr td{
    border-top: 0px solid #ddd !important;
    text-align: left;
    font-size: 13px;
    padding-left: 20px;
}
.table-striped-no-border tbody tr td input,.table-striped-no-border tbody tr td select{
    width: 92%;
}