<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mapper.oracle.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.domain.Comment" >
    <result column="CC_ID" property="id" jdbcType="VARCHAR" />
    <result column="CC_CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="CC_TARGETNAME" property="targetname" jdbcType="VARCHAR" />
    <result column="CC_TARGETID" property="targetid" jdbcType="VARCHAR" />
    <result column="CC_ENTID" property="entid" jdbcType="VARCHAR" />
    <result column="CC_ENTNAME" property="entname" jdbcType="VARCHAR" />
    <result column="CC_COMMCATE" property="commcate" jdbcType="DECIMAL" />
    <result column="CC_TYPE" property="type" jdbcType="VARCHAR" />
    <result column="CC_COMMTIME" property="commtime" jdbcType="VARCHAR" />
    <result column="CC_CRITICNAME" property="criticname" jdbcType="VARCHAR" />
    <result column="CC_CRITICTYPE" property="critictype" jdbcType="DECIMAL" />
    <result column="CC_CRITICID" property="criticid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CC_ID, CC_CONTENT, CC_TARGETNAME, CC_TARGETID, CC_ENTID, CC_ENTNAME, CC_COMMCATE, 
    CC_TYPE, CC_COMMTIME, CC_CRITICNAME, CC_CRITICTYPE, CC_CRITICID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chinasofti.domain.CommentExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CIS_COMMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.chinasofti.domain.CommentExample" >
    delete from CIS_COMMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinasofti.domain.Comment" >
    insert into CIS_COMMENT (CC_ID, CC_CONTENT, CC_TARGETNAME, 
      CC_TARGETID, CC_ENTID, CC_ENTNAME, 
      CC_COMMCATE, CC_TYPE, CC_COMMTIME, 
      CC_CRITICNAME, CC_CRITICTYPE, CC_CRITICID
      )
    values (#{id,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{targetname,jdbcType=VARCHAR}, 
      #{targetid,jdbcType=VARCHAR}, #{entid,jdbcType=VARCHAR}, #{entname,jdbcType=VARCHAR}, 
      #{commcate,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}, #{commtime,jdbcType=VARCHAR}, 
      #{criticname,jdbcType=VARCHAR}, #{critictype,jdbcType=DECIMAL}, #{criticid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.domain.Comment" >
    insert into CIS_COMMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        CC_ID,
      </if>
      <if test="content != null" >
        CC_CONTENT,
      </if>
      <if test="targetname != null" >
        CC_TARGETNAME,
      </if>
      <if test="targetid != null" >
        CC_TARGETID,
      </if>
      <if test="entid != null" >
        CC_ENTID,
      </if>
      <if test="entname != null" >
        CC_ENTNAME,
      </if>
      <if test="commcate != null" >
        CC_COMMCATE,
      </if>
      <if test="type != null" >
        CC_TYPE,
      </if>
      <if test="commtime != null" >
        CC_COMMTIME,
      </if>
      <if test="criticname != null" >
        CC_CRITICNAME,
      </if>
      <if test="critictype != null" >
        CC_CRITICTYPE,
      </if>
      <if test="criticid != null" >
        CC_CRITICID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="targetname != null" >
        #{targetname,jdbcType=VARCHAR},
      </if>
      <if test="targetid != null" >
        #{targetid,jdbcType=VARCHAR},
      </if>
      <if test="entid != null" >
        #{entid,jdbcType=VARCHAR},
      </if>
      <if test="entname != null" >
        #{entname,jdbcType=VARCHAR},
      </if>
      <if test="commcate != null" >
        #{commcate,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="commtime != null" >
        #{commtime,jdbcType=VARCHAR},
      </if>
      <if test="criticname != null" >
        #{criticname,jdbcType=VARCHAR},
      </if>
      <if test="critictype != null" >
        #{critictype,jdbcType=DECIMAL},
      </if>
      <if test="criticid != null" >
        #{criticid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinasofti.domain.CommentExample" resultType="java.lang.Integer" >
    select count(*) from CIS_COMMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CIS_COMMENT
    <set >
      <if test="record.id != null" >
        CC_ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        CC_CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.targetname != null" >
        CC_TARGETNAME = #{record.targetname,jdbcType=VARCHAR},
      </if>
      <if test="record.targetid != null" >
        CC_TARGETID = #{record.targetid,jdbcType=VARCHAR},
      </if>
      <if test="record.entid != null" >
        CC_ENTID = #{record.entid,jdbcType=VARCHAR},
      </if>
      <if test="record.entname != null" >
        CC_ENTNAME = #{record.entname,jdbcType=VARCHAR},
      </if>
      <if test="record.commcate != null" >
        CC_COMMCATE = #{record.commcate,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null" >
        CC_TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.commtime != null" >
        CC_COMMTIME = #{record.commtime,jdbcType=VARCHAR},
      </if>
      <if test="record.criticname != null" >
        CC_CRITICNAME = #{record.criticname,jdbcType=VARCHAR},
      </if>
      <if test="record.critictype != null" >
        CC_CRITICTYPE = #{record.critictype,jdbcType=DECIMAL},
      </if>
      <if test="record.criticid != null" >
        CC_CRITICID = #{record.criticid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CIS_COMMENT
    set CC_ID = #{record.id,jdbcType=VARCHAR},
      CC_CONTENT = #{record.content,jdbcType=VARCHAR},
      CC_TARGETNAME = #{record.targetname,jdbcType=VARCHAR},
      CC_TARGETID = #{record.targetid,jdbcType=VARCHAR},
      CC_ENTID = #{record.entid,jdbcType=VARCHAR},
      CC_ENTNAME = #{record.entname,jdbcType=VARCHAR},
      CC_COMMCATE = #{record.commcate,jdbcType=DECIMAL},
      CC_TYPE = #{record.type,jdbcType=VARCHAR},
      CC_COMMTIME = #{record.commtime,jdbcType=VARCHAR},
      CC_CRITICNAME = #{record.criticname,jdbcType=VARCHAR},
      CC_CRITICTYPE = #{record.critictype,jdbcType=DECIMAL},
      CC_CRITICID = #{record.criticid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_  where rownum<= #{page.end}) where rownum_ > #{page.start} ]]>
    </if>
  </sql>
</mapper>