<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mapper.oracle.DrawProc2Mapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.domain.DrawProc2" >
    <result column="CDP_ID" property="id" jdbcType="VARCHAR" />
    <result column="CDP_UID" property="uid" jdbcType="VARCHAR" />
    <result column="CDP_PROCUID" property="procuid" jdbcType="VARCHAR" />
    <result column="CDP_DRAWNO" property="drawno" jdbcType="VARCHAR" />
    <result column="CDP_ACCEPTCOUNT" property="acceptcount" jdbcType="VARCHAR" />
    <result column="CDP_ACCEPTSUGG" property="acceptsugg" jdbcType="VARCHAR" />
    <result column="CDP_ACCEPTTIME" property="accepttime" jdbcType="VARCHAR" />
    <result column="CDP_NEEDAPPRO" property="needappro" jdbcType="VARCHAR" />
    <result column="CDP_APPROSUGG" property="approsugg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CDP_ID, CDP_UID, CDP_PROCUID, CDP_DRAWNO, CDP_ACCEPTCOUNT, CDP_ACCEPTSUGG, CDP_ACCEPTTIME, 
    CDP_NEEDAPPRO, CDP_APPROSUGG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chinasofti.domain.DrawProc2Example" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CIS_DRAW_PROC2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.chinasofti.domain.DrawProc2Example" >
    delete from CIS_DRAW_PROC2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinasofti.domain.DrawProc2" >
    insert into CIS_DRAW_PROC2 (CDP_ID, CDP_UID, CDP_PROCUID, 
      CDP_DRAWNO, CDP_ACCEPTCOUNT, CDP_ACCEPTSUGG, 
      CDP_ACCEPTTIME, CDP_NEEDAPPRO, CDP_APPROSUGG)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{procuid,jdbcType=VARCHAR}, 
      #{drawno,jdbcType=VARCHAR}, #{acceptcount,jdbcType=VARCHAR}, #{acceptsugg,jdbcType=VARCHAR}, 
      #{accepttime,jdbcType=VARCHAR}, #{needappro,jdbcType=VARCHAR}, #{approsugg,jdbcType=VARCHAR}, 
      #{doc1,jdbcType=VARCHAR}, #{doc2,jdbcType=VARCHAR}, #{doc3,jdbcType=VARCHAR}, #{doc4,jdbcType=VARCHAR}, 
      #{doc5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.domain.DrawProc2" >
    insert into CIS_DRAW_PROC2
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        CDP_ID,
      </if>
      <if test="uid != null" >
        CDP_UID,
      </if>
      <if test="procuid != null" >
        CDP_PROCUID,
      </if>
      <if test="drawno != null" >
        CDP_DRAWNO,
      </if>
      <if test="acceptcount != null" >
        CDP_ACCEPTCOUNT,
      </if>
      <if test="acceptsugg != null" >
        CDP_ACCEPTSUGG,
      </if>
      <if test="accepttime != null" >
        CDP_ACCEPTTIME,
      </if>
      <if test="needappro != null" >
        CDP_NEEDAPPRO,
      </if>
      <if test="approsugg != null" >
        CDP_APPROSUGG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="procuid != null" >
        #{procuid,jdbcType=VARCHAR},
      </if>
      <if test="drawno != null" >
        #{drawno,jdbcType=VARCHAR},
      </if>
      <if test="acceptcount != null" >
        #{acceptcount,jdbcType=VARCHAR},
      </if>
      <if test="acceptsugg != null" >
        #{acceptsugg,jdbcType=VARCHAR},
      </if>
      <if test="accepttime != null" >
        #{accepttime,jdbcType=VARCHAR},
      </if>
      <if test="needappro != null" >
        #{needappro,jdbcType=VARCHAR},
      </if>
      <if test="approsugg != null" >
        #{approsugg,jdbcType=VARCHAR},
      </if>
      <if test="doc1 != null" >
        #{doc1,jdbcType=VARCHAR},
      </if>
      <if test="doc2 != null" >
        #{doc2,jdbcType=VARCHAR},
      </if>
      <if test="doc3 != null" >
        #{doc3,jdbcType=VARCHAR},
      </if>
      <if test="doc4 != null" >
        #{doc4,jdbcType=VARCHAR},
      </if>
      <if test="doc5 != null" >
        #{doc5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinasofti.domain.DrawProc2Example" resultType="java.lang.Integer" >
    select count(*) from CIS_DRAW_PROC2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CIS_DRAW_PROC2
    <set >
      <if test="record.id != null" >
        CDP_ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        CDP_UID = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.procuid != null" >
        CDP_PROCUID = #{record.procuid,jdbcType=VARCHAR},
      </if>
      <if test="record.drawno != null" >
        CDP_DRAWNO = #{record.drawno,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptcount != null" >
        CDP_ACCEPTCOUNT = #{record.acceptcount,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptsugg != null" >
        CDP_ACCEPTSUGG = #{record.acceptsugg,jdbcType=VARCHAR},
      </if>
      <if test="record.accepttime != null" >
        CDP_ACCEPTTIME = #{record.accepttime,jdbcType=VARCHAR},
      </if>
      <if test="record.needappro != null" >
        CDP_NEEDAPPRO = #{record.needappro,jdbcType=VARCHAR},
      </if>
      <if test="record.approsugg != null" >
        CDP_APPROSUGG = #{record.approsugg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CIS_DRAW_PROC2
    set CDP_ID = #{record.id,jdbcType=VARCHAR},
      CDP_UID = #{record.uid,jdbcType=VARCHAR},
      CDP_PROCUID = #{record.procuid,jdbcType=VARCHAR},
      CDP_DRAWNO = #{record.drawno,jdbcType=VARCHAR},
      CDP_ACCEPTCOUNT = #{record.acceptcount,jdbcType=VARCHAR},
      CDP_ACCEPTSUGG = #{record.acceptsugg,jdbcType=VARCHAR},
      CDP_ACCEPTTIME = #{record.accepttime,jdbcType=VARCHAR},
      CDP_NEEDAPPRO = #{record.needappro,jdbcType=VARCHAR},
      CDP_APPROSUGG = #{record.approsugg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_  where rownum<= #{page.end}) where rownum_ > #{page.start} ]]>
    </if>
  </sql>
</mapper>