<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mapper.oracle.EntInfoMapper">
    <resultMap id="BaseResultMap" type="com.chinasofti.domain.EntInfo">
        <result column="CE_UID" property="uid" jdbcType="VARCHAR"/>
        <result column="CE_PID" property="pid" jdbcType="VARCHAR"/>
        <result column="CE_ENTNAME" property="entname" jdbcType="VARCHAR"/>
        <result column="CE_REGISTNUM" property="registnum" jdbcType="VARCHAR"/>
        <result column="CE_LEGAL" property="legal" jdbcType="VARCHAR"/>
        <result column="CE_REGCAPITAL" property="regcapital" jdbcType="VARCHAR"/>
        <result column="CE_CREDITCODE" property="creditcode" jdbcType="VARCHAR"/>
        <result column="CE_BUSINESSTERM" property="businessterm" jdbcType="VARCHAR"/>
        <result column="CE_ENTTYPE" property="enttype" jdbcType="VARCHAR"/>
        <result column="CE_REGOFFICE" property="regoffice" jdbcType="VARCHAR"/>
        <result column="CE_ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="CE_TEL" property="tel" jdbcType="VARCHAR"/>
        <result column="CE_SCOPE" property="scope" jdbcType="VARCHAR"/>
        <result column="CE_ENTCATE" property="entcate" jdbcType="VARCHAR"/>
        <result column="CE_RC1" property="rc1" jdbcType="VARCHAR"/>
        <result column="CE_RC2" property="rc2" jdbcType="VARCHAR"/>
        <result column="CE_IDT" property="idt" jdbcType="OTHER"/>
        <result column="CE_UDT" property="udt" jdbcType="OTHER"/>
        <result column="CE_ZT" property="zt" jdbcType="DECIMAL"/>
        <result column="CE_RC3" property="rc3" jdbcType="TIMESTAMP"/>
        <result column="CE_RC4" property="rc4" jdbcType="TIMESTAMP"/>
        <result column="CE_ORGCODE" property="orgcode" jdbcType="VARCHAR"/>
        <result column="CE_AREACODE" property="areacode" jdbcType="VARCHAR"/>
        <result column="CE_ENTSTATE" property="entstate" jdbcType="DECIMAL"/>
        <result column="CE_AREANAME" property="areaname" jdbcType="VARCHAR"/>
        <result column="CE_ORGNAME" property="orgname" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    CE_UID, CE_PID, CE_ENTNAME, CE_REGISTNUM, CE_LEGAL, CE_REGCAPITAL, CE_CREDITCODE, 
    CE_BUSINESSTERM, CE_ENTTYPE, CE_REGOFFICE, CE_ADDRESS, CE_TEL, CE_SCOPE, CE_ENTCATE, 
    CE_RC1, CE_RC2, CE_IDT, CE_UDT, CE_ZT, CE_RC3, CE_RC4, CE_ORGCODE, CE_AREACODE, CE_ENTSTATE, 
    CE_AREANAME, CE_ORGNAME
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chinasofti.domain.EntInfoExample">
        <include refid="OracleDialectPrefix"/>
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from CIS_ENTINFO
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="OracleDialectSuffix"/>
    </select>
    <delete id="deleteByExample" parameterType="com.chinasofti.domain.EntInfoExample">
        delete from CIS_ENTINFO
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.chinasofti.domain.EntInfo">
    insert into CIS_ENTINFO (CE_UID, CE_PID, CE_ENTNAME, 
      CE_REGISTNUM, CE_LEGAL, CE_REGCAPITAL, 
      CE_CREDITCODE, CE_BUSINESSTERM, CE_ENTTYPE, 
      CE_REGOFFICE, CE_ADDRESS, CE_TEL, 
      CE_SCOPE, CE_ENTCATE, CE_RC1, 
      CE_RC2, CE_IDT, CE_UDT, CE_ZT, 
      CE_RC3, CE_RC4, CE_ORGCODE, 
      CE_AREACODE, CE_ENTSTATE, CE_AREANAME, 
      CE_ORGNAME)
    values (#{uid,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{entname,jdbcType=VARCHAR}, 
      #{registnum,jdbcType=VARCHAR}, #{legal,jdbcType=VARCHAR}, #{regcapital,jdbcType=VARCHAR}, 
      #{creditcode,jdbcType=VARCHAR}, #{businessterm,jdbcType=VARCHAR}, #{enttype,jdbcType=VARCHAR}, 
      #{regoffice,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{scope,jdbcType=VARCHAR}, #{entcate,jdbcType=VARCHAR}, #{rc1,jdbcType=VARCHAR}, 
      #{rc2,jdbcType=VARCHAR}, #{idt,jdbcType=OTHER}, #{udt,jdbcType=OTHER}, #{zt,jdbcType=DECIMAL}, 
      #{rc3,jdbcType=TIMESTAMP}, #{rc4,jdbcType=TIMESTAMP}, #{orgcode,jdbcType=VARCHAR}, 
      #{areacode,jdbcType=VARCHAR}, #{entstate,jdbcType=DECIMAL}, #{areaname,jdbcType=VARCHAR}, 
      #{orgname,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.chinasofti.domain.EntInfo">
        insert into CIS_ENTINFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                CE_UID,
            </if>
            <if test="pid != null">
                CE_PID,
            </if>
            <if test="entname != null">
                CE_ENTNAME,
            </if>
            <if test="registnum != null">
                CE_REGISTNUM,
            </if>
            <if test="legal != null">
                CE_LEGAL,
            </if>
            <if test="regcapital != null">
                CE_REGCAPITAL,
            </if>
            <if test="creditcode != null">
                CE_CREDITCODE,
            </if>
            <if test="businessterm != null">
                CE_BUSINESSTERM,
            </if>
            <if test="enttype != null">
                CE_ENTTYPE,
            </if>
            <if test="regoffice != null">
                CE_REGOFFICE,
            </if>
            <if test="address != null">
                CE_ADDRESS,
            </if>
            <if test="tel != null">
                CE_TEL,
            </if>
            <if test="scope != null">
                CE_SCOPE,
            </if>
            <if test="entcate != null">
                CE_ENTCATE,
            </if>
            <if test="rc1 != null">
                CE_RC1,
            </if>
            <if test="rc2 != null">
                CE_RC2,
            </if>
            <if test="idt != null">
                CE_IDT,
            </if>
            <if test="udt != null">
                CE_UDT,
            </if>
            <if test="zt != null">
                CE_ZT,
            </if>
            <if test="rc3 != null">
                CE_RC3,
            </if>
            <if test="rc4 != null">
                CE_RC4,
            </if>
            <if test="orgcode != null">
                CE_ORGCODE,
            </if>
            <if test="areacode != null">
                CE_AREACODE,
            </if>
            <if test="entstate != null">
                CE_ENTSTATE,
            </if>
            <if test="areaname != null">
                CE_AREANAME,
            </if>
            <if test="orgname != null">
                CE_ORGNAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=VARCHAR},
            </if>
            <if test="entname != null">
                #{entname,jdbcType=VARCHAR},
            </if>
            <if test="registnum != null">
                #{registnum,jdbcType=VARCHAR},
            </if>
            <if test="legal != null">
                #{legal,jdbcType=VARCHAR},
            </if>
            <if test="regcapital != null">
                #{regcapital,jdbcType=VARCHAR},
            </if>
            <if test="creditcode != null">
                #{creditcode,jdbcType=VARCHAR},
            </if>
            <if test="businessterm != null">
                #{businessterm,jdbcType=VARCHAR},
            </if>
            <if test="enttype != null">
                #{enttype,jdbcType=VARCHAR},
            </if>
            <if test="regoffice != null">
                #{regoffice,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="scope != null">
                #{scope,jdbcType=VARCHAR},
            </if>
            <if test="entcate != null">
                #{entcate,jdbcType=VARCHAR},
            </if>
            <if test="rc1 != null">
                #{rc1,jdbcType=VARCHAR},
            </if>
            <if test="rc2 != null">
                #{rc2,jdbcType=VARCHAR},
            </if>
            <if test="idt != null">
                #{idt,jdbcType=OTHER},
            </if>
            <if test="udt != null">
                #{udt,jdbcType=OTHER},
            </if>
            <if test="zt != null">
                #{zt,jdbcType=DECIMAL},
            </if>
            <if test="rc3 != null">
                #{rc3,jdbcType=TIMESTAMP},
            </if>
            <if test="rc4 != null">
                #{rc4,jdbcType=TIMESTAMP},
            </if>
            <if test="orgcode != null">
                #{orgcode,jdbcType=VARCHAR},
            </if>
            <if test="areacode != null">
                #{areacode,jdbcType=VARCHAR},
            </if>
            <if test="entstate != null">
                #{entstate,jdbcType=DECIMAL},
            </if>
            <if test="areaname != null">
                #{areaname,jdbcType=VARCHAR},
            </if>
            <if test="orgname != null">
                #{orgname,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.chinasofti.domain.EntInfoExample" resultType="java.lang.Integer">
        select count(*) from CIS_ENTINFO
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update CIS_ENTINFO
        <set>
            <if test="record.uid != null">
                CE_UID = #{record.uid,jdbcType=VARCHAR},
            </if>
            <if test="record.pid != null">
                CE_PID = #{record.pid,jdbcType=VARCHAR},
            </if>
            <if test="record.entname != null">
                CE_ENTNAME = #{record.entname,jdbcType=VARCHAR},
            </if>
            <if test="record.registnum != null">
                CE_REGISTNUM = #{record.registnum,jdbcType=VARCHAR},
            </if>
            <if test="record.legal != null">
                CE_LEGAL = #{record.legal,jdbcType=VARCHAR},
            </if>
            <if test="record.regcapital != null">
                CE_REGCAPITAL = #{record.regcapital,jdbcType=VARCHAR},
            </if>
            <if test="record.creditcode != null">
                CE_CREDITCODE = #{record.creditcode,jdbcType=VARCHAR},
            </if>
            <if test="record.businessterm != null">
                CE_BUSINESSTERM = #{record.businessterm,jdbcType=VARCHAR},
            </if>
            <if test="record.enttype != null">
                CE_ENTTYPE = #{record.enttype,jdbcType=VARCHAR},
            </if>
            <if test="record.regoffice != null">
                CE_REGOFFICE = #{record.regoffice,jdbcType=VARCHAR},
            </if>
            <if test="record.address != null">
                CE_ADDRESS = #{record.address,jdbcType=VARCHAR},
            </if>
            <if test="record.tel != null">
                CE_TEL = #{record.tel,jdbcType=VARCHAR},
            </if>
            <if test="record.scope != null">
                CE_SCOPE = #{record.scope,jdbcType=VARCHAR},
            </if>
            <if test="record.entcate != null">
                CE_ENTCATE = #{record.entcate,jdbcType=VARCHAR},
            </if>
            <if test="record.rc1 != null">
                CE_RC1 = #{record.rc1,jdbcType=VARCHAR},
            </if>
            <if test="record.rc2 != null">
                CE_RC2 = #{record.rc2,jdbcType=VARCHAR},
            </if>
            <if test="record.idt != null">
                CE_IDT = #{record.idt,jdbcType=OTHER},
            </if>
            <if test="record.udt != null">
                CE_UDT = #{record.udt,jdbcType=OTHER},
            </if>
            <if test="record.zt != null">
                CE_ZT = #{record.zt,jdbcType=DECIMAL},
            </if>
            <if test="record.rc3 != null">
                CE_RC3 = #{record.rc3,jdbcType=TIMESTAMP},
            </if>
            <if test="record.rc4 != null">
                CE_RC4 = #{record.rc4,jdbcType=TIMESTAMP},
            </if>
            <if test="record.orgcode != null">
                CE_ORGCODE = #{record.orgcode,jdbcType=VARCHAR},
            </if>
            <if test="record.areacode != null">
                CE_AREACODE = #{record.areacode,jdbcType=VARCHAR},
            </if>
            <if test="record.entstate != null">
                CE_ENTSTATE = #{record.entstate,jdbcType=DECIMAL},
            </if>
            <if test="record.areaname != null">
                CE_AREANAME = #{record.areaname,jdbcType=VARCHAR},
            </if>
            <if test="record.orgname != null">
                CE_ORGNAME = #{record.orgname,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update CIS_ENTINFO
        set CE_UID = #{record.uid,jdbcType=VARCHAR},
        CE_PID = #{record.pid,jdbcType=VARCHAR},
        CE_ENTNAME = #{record.entname,jdbcType=VARCHAR},
        CE_REGISTNUM = #{record.registnum,jdbcType=VARCHAR},
        CE_LEGAL = #{record.legal,jdbcType=VARCHAR},
        CE_REGCAPITAL = #{record.regcapital,jdbcType=VARCHAR},
        CE_CREDITCODE = #{record.creditcode,jdbcType=VARCHAR},
        CE_BUSINESSTERM = #{record.businessterm,jdbcType=VARCHAR},
        CE_ENTTYPE = #{record.enttype,jdbcType=VARCHAR},
        CE_REGOFFICE = #{record.regoffice,jdbcType=VARCHAR},
        CE_ADDRESS = #{record.address,jdbcType=VARCHAR},
        CE_TEL = #{record.tel,jdbcType=VARCHAR},
        CE_SCOPE = #{record.scope,jdbcType=VARCHAR},
        CE_ENTCATE = #{record.entcate,jdbcType=VARCHAR},
        CE_RC1 = #{record.rc1,jdbcType=VARCHAR},
        CE_RC2 = #{record.rc2,jdbcType=VARCHAR},
        CE_IDT = #{record.idt,jdbcType=OTHER},
        CE_UDT = #{record.udt,jdbcType=OTHER},
        CE_ZT = #{record.zt,jdbcType=DECIMAL},
        CE_RC3 = #{record.rc3,jdbcType=TIMESTAMP},
        CE_RC4 = #{record.rc4,jdbcType=TIMESTAMP},
        CE_ORGCODE = #{record.orgcode,jdbcType=VARCHAR},
        CE_AREACODE = #{record.areacode,jdbcType=VARCHAR},
        CE_ENTSTATE = #{record.entstate,jdbcType=DECIMAL},
        CE_AREANAME = #{record.areaname,jdbcType=VARCHAR},
        CE_ORGNAME = #{record.orgname,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <sql id="OracleDialectPrefix">
        <if test="page != null">
            select * from ( select row_.*, rownum rownum_ from (
        </if>
    </sql>
    <sql id="OracleDialectSuffix">
        <if test="page != null">
            <![CDATA[ ) row_  where rownum<= #{page.end}) where rownum_ > #{page.start} ]]>
        </if>
    </sql>
    <select id="getCpzzCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from them_product_ywhz t where  t.entcate='1'
        and (t.nextapptime >= #{nowDate}  or t.nextapptime is null)
        <if test="like != null">
            and t.areacode like #{like}
        </if>
        <!--select count(*) from cis_entinfo t,cis_entiforext_qyfl1 a where t.ce_registnum = a.ceq_pid and t.ce_entcate='1'-->
        <!--and a.ceq_certterm > #{nowDate}-->
        <!--<if test="like != null">-->
            <!--and t.ce_orgcode like #{like}-->
        <!--</if>-->
    </select>
    <select id="getRepairCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from  them_product_ywhz t where  t.entcate in (5,6,7)
        and (t.nextapptime >= #{nowDate}  or t.nextapptime is null)
        <if test="like != null">
            and t.areacode like #{like}
        </if>
        <!--select count(*) from cis_entinfo t,cis_entpro_history a where t.ce_registnum = a.cph_entid and t.ce_entcate in (5,6,7)-->
        <!--and a.cph_checktimenext > #{nowDate}-->
        <!--<if test="like != null">-->
            <!--and t.ce_orgcode like #{like}-->
        <!--</if>-->
    </select>

    <select id="getEnt3List" parameterType="com.chinasofti.domain.EntInfoExample" resultType="java.util.Map">
        <include refid="OracleDialectPrefix"/>
        select t1.ce_pid as eid,
        t1.ce_entname as ename,
        t2.ceq_entlevel as elevel,
        t1.ce_legal as elegal,
        replace(substr(t2.ceq_setdate,1,7),'-','.') as edate,
        t1.ce_regcapital as emoney,
        t2.ceq_areaspace as earea
        from cis_entinfo t1
        left join cis_entinfoext_qyfl3 t2
        on t1.ce_pid = t2.ceq_entpid
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <include refid="OracleDialectSuffix"/>
    </select>

    <select id="getEnt7List" parameterType="com.chinasofti.domain.EntInfoExample" resultType="java.util.Map">
        <include refid="OracleDialectPrefix"/>
        select t1.ce_pid as eid,t1.ce_entname as ename,
        decode(t1.ce_entcate,1,'产品制造企业',2,'设计单位',3,'修造企业',4,
        '维修企业',5,'筏站',6,'GMDSS检修企业',7,'检测机构',8,'图纸设计企业','') as etype,
        t1.ce_legal as elegal,
        replace(substr(t2.ceq_setdate,1,7),'-','.') as edate,
        t1.ce_regcapital as emoney,
        t2.ceq_workesnum as earea
        from cis_entinfo t1
        left join cis_entiforext_qyfl7 t2
        on t1.ce_pid = t2.ceq_pid
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <include refid="OracleDialectSuffix"/>
    </select>

    <select id="getEnt3ListCount" parameterType="com.chinasofti.domain.EntInfoExample" resultType="java.lang.Integer">
        select count(*)
        from cis_entinfo t1
        left join cis_entinfoext_qyfl3 t2
        on t1.ce_pid = t2.ceq_entpid
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <select id="getEnt7ListCount" parameterType="com.chinasofti.domain.EntInfoExample" resultType="java.lang.Integer">
        select count(*)
        from cis_entinfo t1
        left join cis_entiforext_qyfl7 t2
        on t1.ce_pid = t2.ceq_pid
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

</mapper>