<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mapper.oracle.OrgCertificateMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.domain.OrgCertificate" >
    <result column="CO_ID" property="id" jdbcType="VARCHAR" />
    <result column="CO_UID" property="uid" jdbcType="VARCHAR" />
    <result column="CO_CERNO" property="cerno" jdbcType="VARCHAR" />
    <result column="CO_ACCEPTSTATUS" property="acceptstatus" jdbcType="VARCHAR" />
    <result column="CO_ENDTIME" property="endtime" jdbcType="VARCHAR" />
    <result column="CO_FIRSTTIME" property="firsttime" jdbcType="VARCHAR" />
    <result column="CO_CHECKTIME" property="checktime" jdbcType="VARCHAR" />
    <result column="CO_ORGCODE" property="orgcode" jdbcType="VARCHAR" />
    <result column="CO_ORGAREANAME" property="orgareaname" jdbcType="VARCHAR" />
    <result column="CO_RC1" property="rc1" jdbcType="VARCHAR" />
    <result column="CO_RC2" property="rc2" jdbcType="VARCHAR" />
    <result column="CO_RC3" property="rc3" jdbcType="VARCHAR" />
    <result column="CO_RC4" property="rc4" jdbcType="TIMESTAMP" />
    <result column="CO_RC5" property="rc5" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CO_ID, CO_UID, CO_CERNO, CO_ACCEPTSTATUS, CO_ENDTIME, CO_FIRSTTIME, CO_CHECKTIME, 
    CO_ORGCODE, CO_ORGAREANAME, CO_RC1, CO_RC2, CO_RC3, CO_RC4, CO_RC5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chinasofti.domain.OrgCertificateExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CIS_ORGCERTIFICATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.chinasofti.domain.OrgCertificateExample" >
    delete from CIS_ORGCERTIFICATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinasofti.domain.OrgCertificate" >
    insert into CIS_ORGCERTIFICATE (CO_ID, CO_UID, CO_CERNO, 
      CO_ACCEPTSTATUS, CO_ENDTIME, CO_FIRSTTIME, 
      CO_CHECKTIME, CO_ORGCODE, CO_ORGAREANAME, 
      CO_RC1, CO_RC2, CO_RC3, CO_RC4, 
      CO_RC5)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{cerno,jdbcType=VARCHAR}, 
      #{acceptstatus,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}, #{firsttime,jdbcType=VARCHAR}, 
      #{checktime,jdbcType=VARCHAR}, #{orgcode,jdbcType=VARCHAR}, #{orgareaname,jdbcType=VARCHAR}, 
      #{rc1,jdbcType=VARCHAR}, #{rc2,jdbcType=VARCHAR}, #{rc3,jdbcType=VARCHAR}, #{rc4,jdbcType=TIMESTAMP}, 
      #{rc5,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.domain.OrgCertificate" >
    insert into CIS_ORGCERTIFICATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        CO_ID,
      </if>
      <if test="uid != null" >
        CO_UID,
      </if>
      <if test="cerno != null" >
        CO_CERNO,
      </if>
      <if test="acceptstatus != null" >
        CO_ACCEPTSTATUS,
      </if>
      <if test="endtime != null" >
        CO_ENDTIME,
      </if>
      <if test="firsttime != null" >
        CO_FIRSTTIME,
      </if>
      <if test="checktime != null" >
        CO_CHECKTIME,
      </if>
      <if test="orgcode != null" >
        CO_ORGCODE,
      </if>
      <if test="orgareaname != null" >
        CO_ORGAREANAME,
      </if>
      <if test="rc1 != null" >
        CO_RC1,
      </if>
      <if test="rc2 != null" >
        CO_RC2,
      </if>
      <if test="rc3 != null" >
        CO_RC3,
      </if>
      <if test="rc4 != null" >
        CO_RC4,
      </if>
      <if test="rc5 != null" >
        CO_RC5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="cerno != null" >
        #{cerno,jdbcType=VARCHAR},
      </if>
      <if test="acceptstatus != null" >
        #{acceptstatus,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="firsttime != null" >
        #{firsttime,jdbcType=VARCHAR},
      </if>
      <if test="checktime != null" >
        #{checktime,jdbcType=VARCHAR},
      </if>
      <if test="orgcode != null" >
        #{orgcode,jdbcType=VARCHAR},
      </if>
      <if test="orgareaname != null" >
        #{orgareaname,jdbcType=VARCHAR},
      </if>
      <if test="rc1 != null" >
        #{rc1,jdbcType=VARCHAR},
      </if>
      <if test="rc2 != null" >
        #{rc2,jdbcType=VARCHAR},
      </if>
      <if test="rc3 != null" >
        #{rc3,jdbcType=VARCHAR},
      </if>
      <if test="rc4 != null" >
        #{rc4,jdbcType=TIMESTAMP},
      </if>
      <if test="rc5 != null" >
        #{rc5,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinasofti.domain.OrgCertificateExample" resultType="java.lang.Integer" >
    select count(*) from CIS_ORGCERTIFICATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CIS_ORGCERTIFICATE
    <set >
      <if test="record.id != null" >
        CO_ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        CO_UID = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.cerno != null" >
        CO_CERNO = #{record.cerno,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptstatus != null" >
        CO_ACCEPTSTATUS = #{record.acceptstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.endtime != null" >
        CO_ENDTIME = #{record.endtime,jdbcType=VARCHAR},
      </if>
      <if test="record.firsttime != null" >
        CO_FIRSTTIME = #{record.firsttime,jdbcType=VARCHAR},
      </if>
      <if test="record.checktime != null" >
        CO_CHECKTIME = #{record.checktime,jdbcType=VARCHAR},
      </if>
      <if test="record.orgcode != null" >
        CO_ORGCODE = #{record.orgcode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgareaname != null" >
        CO_ORGAREANAME = #{record.orgareaname,jdbcType=VARCHAR},
      </if>
      <if test="record.rc1 != null" >
        CO_RC1 = #{record.rc1,jdbcType=VARCHAR},
      </if>
      <if test="record.rc2 != null" >
        CO_RC2 = #{record.rc2,jdbcType=VARCHAR},
      </if>
      <if test="record.rc3 != null" >
        CO_RC3 = #{record.rc3,jdbcType=VARCHAR},
      </if>
      <if test="record.rc4 != null" >
        CO_RC4 = #{record.rc4,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rc5 != null" >
        CO_RC5 = #{record.rc5,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CIS_ORGCERTIFICATE
    set CO_ID = #{record.id,jdbcType=VARCHAR},
      CO_UID = #{record.uid,jdbcType=VARCHAR},
      CO_CERNO = #{record.cerno,jdbcType=VARCHAR},
      CO_ACCEPTSTATUS = #{record.acceptstatus,jdbcType=VARCHAR},
      CO_ENDTIME = #{record.endtime,jdbcType=VARCHAR},
      CO_FIRSTTIME = #{record.firsttime,jdbcType=VARCHAR},
      CO_CHECKTIME = #{record.checktime,jdbcType=VARCHAR},
      CO_ORGCODE = #{record.orgcode,jdbcType=VARCHAR},
      CO_ORGAREANAME = #{record.orgareaname,jdbcType=VARCHAR},
      CO_RC1 = #{record.rc1,jdbcType=VARCHAR},
      CO_RC2 = #{record.rc2,jdbcType=VARCHAR},
      CO_RC3 = #{record.rc3,jdbcType=VARCHAR},
      CO_RC4 = #{record.rc4,jdbcType=TIMESTAMP},
      CO_RC5 = #{record.rc5,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.start} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>