<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mapper.oracle.ThemProductJbxxMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.domain.ThemProductJbxx" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PRODUCTTYPE" property="producttype" jdbcType="VARCHAR" />
    <result column="ENTNAME" property="entname" jdbcType="VARCHAR" />
    <result column="SHIPID" property="shipid" jdbcType="VARCHAR" />
    <result column="YEAR" property="year" jdbcType="VARCHAR" />
    <result column="PRVCODE" property="prvcode" jdbcType="VARCHAR" />
    <result column="CHECKTYPE" property="checktype" jdbcType="VARCHAR" />
    <result column="ORGINNAME" property="orginname" jdbcType="VARCHAR" />
    <result column="ORGCODE" property="orgcode" jdbcType="VARCHAR" />
    <result column="AREACODE" property="areacode" jdbcType="VARCHAR" />
    <result column="AVGRATE" property="avgrate" jdbcType="VARCHAR" />
    <result column="SHIPCHECKTYPE" property="shipchecktype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, NAME, PRODUCTTYPE, ENTNAME, SHIPID, YEAR, PRVCODE, CHECKTYPE, ORGINNAME, ORGCODE, 
    AREACODE, AVGRATE, SHIPCHECKTYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chinasofti.domain.ThemProductJbxxExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from THEM_PRODUCT_JBXX
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.chinasofti.domain.ThemProductJbxxExample" >
    delete from THEM_PRODUCT_JBXX
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinasofti.domain.ThemProductJbxx" >
    insert into THEM_PRODUCT_JBXX (ID, NAME, PRODUCTTYPE, 
      ENTNAME, SHIPID, YEAR, 
      PRVCODE, CHECKTYPE, ORGINNAME, 
      ORGCODE, AREACODE, AVGRATE, 
      SHIPCHECKTYPE)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{producttype,jdbcType=VARCHAR}, 
      #{entname,jdbcType=VARCHAR}, #{shipid,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{prvcode,jdbcType=VARCHAR}, #{checktype,jdbcType=VARCHAR}, #{orginname,jdbcType=VARCHAR}, 
      #{orgcode,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR}, #{avgrate,jdbcType=VARCHAR}, 
      #{shipchecktype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.domain.ThemProductJbxx" >
    insert into THEM_PRODUCT_JBXX
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="producttype != null" >
        PRODUCTTYPE,
      </if>
      <if test="entname != null" >
        ENTNAME,
      </if>
      <if test="shipid != null" >
        SHIPID,
      </if>
      <if test="year != null" >
        YEAR,
      </if>
      <if test="prvcode != null" >
        PRVCODE,
      </if>
      <if test="checktype != null" >
        CHECKTYPE,
      </if>
      <if test="orginname != null" >
        ORGINNAME,
      </if>
      <if test="orgcode != null" >
        ORGCODE,
      </if>
      <if test="areacode != null" >
        AREACODE,
      </if>
      <if test="avgrate != null" >
        AVGRATE,
      </if>
      <if test="shipchecktype != null" >
        SHIPCHECKTYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="producttype != null" >
        #{producttype,jdbcType=VARCHAR},
      </if>
      <if test="entname != null" >
        #{entname,jdbcType=VARCHAR},
      </if>
      <if test="shipid != null" >
        #{shipid,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="prvcode != null" >
        #{prvcode,jdbcType=VARCHAR},
      </if>
      <if test="checktype != null" >
        #{checktype,jdbcType=VARCHAR},
      </if>
      <if test="orginname != null" >
        #{orginname,jdbcType=VARCHAR},
      </if>
      <if test="orgcode != null" >
        #{orgcode,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null" >
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="avgrate != null" >
        #{avgrate,jdbcType=VARCHAR},
      </if>
      <if test="shipchecktype != null" >
        #{shipchecktype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinasofti.domain.ThemProductJbxxExample" resultType="java.lang.Integer" >
    select count(*) from THEM_PRODUCT_JBXX
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update THEM_PRODUCT_JBXX
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.producttype != null" >
        PRODUCTTYPE = #{record.producttype,jdbcType=VARCHAR},
      </if>
      <if test="record.entname != null" >
        ENTNAME = #{record.entname,jdbcType=VARCHAR},
      </if>
      <if test="record.shipid != null" >
        SHIPID = #{record.shipid,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        YEAR = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.prvcode != null" >
        PRVCODE = #{record.prvcode,jdbcType=VARCHAR},
      </if>
      <if test="record.checktype != null" >
        CHECKTYPE = #{record.checktype,jdbcType=VARCHAR},
      </if>
      <if test="record.orginname != null" >
        ORGINNAME = #{record.orginname,jdbcType=VARCHAR},
      </if>
      <if test="record.orgcode != null" >
        ORGCODE = #{record.orgcode,jdbcType=VARCHAR},
      </if>
      <if test="record.areacode != null" >
        AREACODE = #{record.areacode,jdbcType=VARCHAR},
      </if>
      <if test="record.avgrate != null" >
        AVGRATE = #{record.avgrate,jdbcType=VARCHAR},
      </if>
      <if test="record.shipchecktype != null" >
        SHIPCHECKTYPE = #{record.shipchecktype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update THEM_PRODUCT_JBXX
    set ID = #{record.id,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      PRODUCTTYPE = #{record.producttype,jdbcType=VARCHAR},
      ENTNAME = #{record.entname,jdbcType=VARCHAR},
      SHIPID = #{record.shipid,jdbcType=VARCHAR},
      YEAR = #{record.year,jdbcType=VARCHAR},
      PRVCODE = #{record.prvcode,jdbcType=VARCHAR},
      CHECKTYPE = #{record.checktype,jdbcType=VARCHAR},
      ORGINNAME = #{record.orginname,jdbcType=VARCHAR},
      ORGCODE = #{record.orgcode,jdbcType=VARCHAR},
      AREACODE = #{record.areacode,jdbcType=VARCHAR},
      AVGRATE = #{record.avgrate,jdbcType=VARCHAR},
      SHIPCHECKTYPE = #{record.shipchecktype,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.start} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>